In [54]:
# from google.colab import drive
# drive.mount('/content/drive')

In [55]:
import pandas as pd
import numpy as np
import datetime

# DATA_PATH = "/content/drive/MyDrive/데이터 분석/데이콘 캐글 컴페티션/DACON 경진대회/제주 특산물가격 예측/data/"
DATA_PATH = '/kaggle/input/jeju-dataset-2/'
SEED = 42

In [56]:
train_df = pd.read_csv(f"{DATA_PATH}train.csv")
trade_df = pd.read_csv(f"{DATA_PATH}international_trade.csv")
test_df = pd.read_csv(f"{DATA_PATH}test.csv")

In [57]:
train_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 59397 entries, 0 to 59396
Data columns (total 7 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   ID           59397 non-null  object
 1   timestamp    59397 non-null  object
 2   item         59397 non-null  object
 3   corporation  59397 non-null  object
 4   location     59397 non-null  object
 5   supply(kg)   59397 non-null  float64
 6   price(원/kg)  59397 non-null  float64
dtypes: float64(2), object(5)
memory usage: 3.2+ MB

In [58]:
test_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1092 entries, 0 to 1091
Data columns (total 5 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   ID           1092 non-null   object
 1   timestamp    1092 non-null   object
 2   item         1092 non-null   object
 3   corporation  1092 non-null   object
 4   location     1092 non-null   object
dtypes: object(5)
memory usage: 42.8+ KB

In [59]:
train_df['timestamp'] = pd.to_datetime(train_df['timestamp'])
train_df['year'] = train_df['timestamp'].dt.year
train_df['month'] = train_df['timestamp'].dt.month
train_df['week'] = train_df['timestamp'].dt.isocalendar().loc[:, 'week']
train_df['day'] = train_df['timestamp'].dt.day
train_df['day_of_week'] = train_df['timestamp'].dt.day_of_week
train_df['day_of_year'] = train_df['timestamp'].dt.day_of_year
train_df['sin_dayofweek'] = np.sin(2 * np.pi * (train_df['day_of_week'] + 1) / 7)
train_df['cos_dayofweek'] = np.cos(2 * np.pi * (train_df['day_of_week'] + 1) / 7)
train_df

,ID,timestamp,item,corporation,location,supply(kg),price(원/kg),year,month,week,day,day_of_week,day_of_year,sin_dayofweek,cos_dayofweek
0,TG_A_J_20190101,2019-01-01,TG,A,J,0.0,0.0,2019,1,1,1,1,1,0.974928,-0.222521
1,TG_A_J_20190102,2019-01-02,TG,A,J,0.0,0.0,2019,1,1,2,2,2,0.433884,-0.900969
2,TG_A_J_20190103,2019-01-03,TG,A,J,60601.0,1728.0,2019,1,1,3,3,3,-0.433884,-0.900969
3,TG_A_J_20190104,2019-01-04,TG,A,J,25000.0,1408.0,2019,1,1,4,4,4,-0.974928,-0.222521
4,TG_A_J_20190105,2019-01-05,TG,A,J,32352.0,1250.0,2019,1,1,5,5,5,-0.781831,0.623490
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
59392,RD_F_J_20230227,2023-02-27,RD,F,J,452440.0,468.0,2023,2,9,27,0,58,0.781831,0.623490
59393,RD_F_J_20230228,2023-02-28,RD,F,J,421980.0,531.0,2023,2,9,28,1,59,0.974928,-0.222521
59394,RD_F_J_20230301,2023-03-01,RD,F,J,382980.0,574.0,2023,3,9,1,2,60,0.433884,-0.900969
59395,RD_F_J_20230302,2023-03-02,RD,F,J,477220.0,523.0,2023,3,9,2,3,61,-0.433884,-0.900969
59396,RD_F_J_20230303,2023-03-03,RD,F,J,427520.0,529.0,2023,3,9,3,4,62,-0.974928,-0.222521

In [60]:
test_df['timestamp'] = pd.to_datetime(test_df['timestamp'])
test_df['year'] = test_df['timestamp'].dt.year
test_df['month'] = test_df['timestamp'].dt.month
test_df['week'] = test_df['timestamp'].dt.isocalendar().loc[:, 'week']
test_df['day'] = test_df['timestamp'].dt.day
test_df['day_of_week'] = test_df['timestamp'].dt.day_of_week
test_df['day_of_year'] = test_df['timestamp'].dt.day_of_year
test_df['sin_dayofweek'] = np.sin(2 * np.pi * (test_df['day_of_week'] + 1) / 7)
test_df['cos_dayofweek'] = np.cos(2 * np.pi * (test_df['day_of_week'] + 1) / 7)
test_df

,ID,timestamp,item,corporation,location,year,month,week,day,day_of_week,day_of_year,sin_dayofweek,cos_dayofweek
0,TG_A_J_20230304,2023-03-04,TG,A,J,2023,3,9,4,5,63,-7.818315e-01,0.623490
1,TG_A_J_20230305,2023-03-05,TG,A,J,2023,3,9,5,6,64,-2.449294e-16,1.000000
2,TG_A_J_20230306,2023-03-06,TG,A,J,2023,3,10,6,0,65,7.818315e-01,0.623490
3,TG_A_J_20230307,2023-03-07,TG,A,J,2023,3,10,7,1,66,9.749279e-01,-0.222521
4,TG_A_J_20230308,2023-03-08,TG,A,J,2023,3,10,8,2,67,4.338837e-01,-0.900969
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1087,RD_F_J_20230327,2023-03-27,RD,F,J,2023,3,13,27,0,86,7.818315e-01,0.623490
1088,RD_F_J_20230328,2023-03-28,RD,F,J,2023,3,13,28,1,87,9.749279e-01,-0.222521
1089,RD_F_J_20230329,2023-03-29,RD,F,J,2023,3,13,29,2,88,4.338837e-01,-0.900969
1090,RD_F_J_20230330,2023-03-30,RD,F,J,2023,3,13,30,3,89,-4.338837e-01,-0.900969
1091,RD_F_J_20230331,2023-03-31,RD,F,J,2023,3,13,31,4,90,-9.749279e-01,-0.222521

In [61]:
train_df.rename(columns={'supply(kg)' : 'supply', 'price(원/kg)' : 'price'}, inplace=True)
train_df

,ID,timestamp,item,corporation,location,supply,price,year,month,week,day,day_of_week,day_of_year,sin_dayofweek,cos_dayofweek
0,TG_A_J_20190101,2019-01-01,TG,A,J,0.0,0.0,2019,1,1,1,1,1,0.974928,-0.222521
1,TG_A_J_20190102,2019-01-02,TG,A,J,0.0,0.0,2019,1,1,2,2,2,0.433884,-0.900969
2,TG_A_J_20190103,2019-01-03,TG,A,J,60601.0,1728.0,2019,1,1,3,3,3,-0.433884,-0.900969
3,TG_A_J_20190104,2019-01-04,TG,A,J,25000.0,1408.0,2019,1,1,4,4,4,-0.974928,-0.222521
4,TG_A_J_20190105,2019-01-05,TG,A,J,32352.0,1250.0,2019,1,1,5,5,5,-0.781831,0.623490
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
59392,RD_F_J_20230227,2023-02-27,RD,F,J,452440.0,468.0,2023,2,9,27,0,58,0.781831,0.623490
59393,RD_F_J_20230228,2023-02-28,RD,F,J,421980.0,531.0,2023,2,9,28,1,59,0.974928,-0.222521
59394,RD_F_J_20230301,2023-03-01,RD,F,J,382980.0,574.0,2023,3,9,1,2,60,0.433884,-0.900969
59395,RD_F_J_20230302,2023-03-02,RD,F,J,477220.0,523.0,2023,3,9,2,3,61,-0.433884,-0.900969
59396,RD_F_J_20230303,2023-03-03,RD,F,J,427520.0,529.0,2023,3,9,3,4,62,-0.974928,-0.222521

In [62]:
month_week_mean = train_df.groupby(['item', 'corporation', 'location', 'month', 'week'])['price'].mean().reset_index()
month_week_mean = month_week_mean.rename(columns={'price' : 'month_week_mean'})
train_df = train_df.merge(month_week_mean, on=['item','corporation', 'location', 'month', 'week'], how='left')
test_df = test_df.merge(month_week_mean, on=['item','corporation', 'location', 'month' , 'week'], how='left')

train_df.head()

,ID,timestamp,item,corporation,location,supply,price,year,month,week,day,day_of_week,day_of_year,sin_dayofweek,cos_dayofweek,month_week_mean
0,TG_A_J_20190101,2019-01-01,TG,A,J,0.0,0.0,2019,1,1,1,1,1,0.974928,-0.222521,1106.90625
1,TG_A_J_20190102,2019-01-02,TG,A,J,0.0,0.0,2019,1,1,2,2,2,0.433884,-0.900969,1106.90625
2,TG_A_J_20190103,2019-01-03,TG,A,J,60601.0,1728.0,2019,1,1,3,3,3,-0.433884,-0.900969,1106.90625
3,TG_A_J_20190104,2019-01-04,TG,A,J,25000.0,1408.0,2019,1,1,4,4,4,-0.974928,-0.222521,1106.90625
4,TG_A_J_20190105,2019-01-05,TG,A,J,32352.0,1250.0,2019,1,1,5,5,5,-0.781831,0.623490,1106.90625

In [63]:
month_week_max = train_df.groupby(['item', 'corporation', 'location', 'month', 'week'])['price'].max().reset_index()
month_week_max = month_week_max.rename(columns={'price' : 'month_week_max'})
train_df = train_df.merge(month_week_max, on=['item','corporation', 'location', 'month', 'week'], how='left')
test_df = test_df.merge(month_week_max, on=['item','corporation', 'location', 'month' , 'week'], how='left')

train_df.head()

,ID,timestamp,item,corporation,location,supply,price,year,month,week,day,day_of_week,day_of_year,sin_dayofweek,cos_dayofweek,month_week_mean,month_week_max
0,TG_A_J_20190101,2019-01-01,TG,A,J,0.0,0.0,2019,1,1,1,1,1,0.974928,-0.222521,1106.90625,3569.0
1,TG_A_J_20190102,2019-01-02,TG,A,J,0.0,0.0,2019,1,1,2,2,2,0.433884,-0.900969,1106.90625,3569.0
2,TG_A_J_20190103,2019-01-03,TG,A,J,60601.0,1728.0,2019,1,1,3,3,3,-0.433884,-0.900969,1106.90625,3569.0
3,TG_A_J_20190104,2019-01-04,TG,A,J,25000.0,1408.0,2019,1,1,4,4,4,-0.974928,-0.222521,1106.90625,3569.0
4,TG_A_J_20190105,2019-01-05,TG,A,J,32352.0,1250.0,2019,1,1,5,5,5,-0.781831,0.623490,1106.90625,3569.0

In [64]:
month_week_std = train_df.groupby(['item', 'corporation', 'location', 'month', 'week'])['price'].std().reset_index()
month_week_std = month_week_std.rename(columns={'price' : 'month_week_std'})
train_df = train_df.merge(month_week_std, on=['item','corporation', 'location', 'month', 'week'], how='left')
test_df = test_df.merge(month_week_std, on=['item','corporation', 'location', 'month' , 'week'], how='left')

train_df.head()

,ID,timestamp,item,corporation,location,supply,price,year,month,week,day,day_of_week,day_of_year,sin_dayofweek,cos_dayofweek,month_week_mean,month_week_max,month_week_std
0,TG_A_J_20190101,2019-01-01,TG,A,J,0.0,0.0,2019,1,1,1,1,1,0.974928,-0.222521,1106.90625,3569.0,878.46238
1,TG_A_J_20190102,2019-01-02,TG,A,J,0.0,0.0,2019,1,1,2,2,2,0.433884,-0.900969,1106.90625,3569.0,878.46238
2,TG_A_J_20190103,2019-01-03,TG,A,J,60601.0,1728.0,2019,1,1,3,3,3,-0.433884,-0.900969,1106.90625,3569.0,878.46238
3,TG_A_J_20190104,2019-01-04,TG,A,J,25000.0,1408.0,2019,1,1,4,4,4,-0.974928,-0.222521,1106.90625,3569.0,878.46238
4,TG_A_J_20190105,2019-01-05,TG,A,J,32352.0,1250.0,2019,1,1,5,5,5,-0.781831,0.623490,1106.90625,3569.0,878.46238

In [65]:
month_mean = train_df.groupby(['item', 'corporation', 'location', 'month'])['price'].mean().reset_index()
month_mean = month_mean.rename(columns={'price' : 'month_mean'})
train_df = train_df.merge(month_mean, on=['item','corporation', 'location', 'month'], how='left')
test_df = test_df.merge(month_mean, on=['item','corporation', 'location', 'month'], how='left')

train_df.head()

,ID,timestamp,item,corporation,location,supply,price,year,month,week,day,day_of_week,day_of_year,sin_dayofweek,cos_dayofweek,month_week_mean,month_week_max,month_week_std,month_mean
0,TG_A_J_20190101,2019-01-01,TG,A,J,0.0,0.0,2019,1,1,1,1,1,0.974928,-0.222521,1106.90625,3569.0,878.46238,1403.858065
1,TG_A_J_20190102,2019-01-02,TG,A,J,0.0,0.0,2019,1,1,2,2,2,0.433884,-0.900969,1106.90625,3569.0,878.46238,1403.858065
2,TG_A_J_20190103,2019-01-03,TG,A,J,60601.0,1728.0,2019,1,1,3,3,3,-0.433884,-0.900969,1106.90625,3569.0,878.46238,1403.858065
3,TG_A_J_20190104,2019-01-04,TG,A,J,25000.0,1408.0,2019,1,1,4,4,4,-0.974928,-0.222521,1106.90625,3569.0,878.46238,1403.858065
4,TG_A_J_20190105,2019-01-05,TG,A,J,32352.0,1250.0,2019,1,1,5,5,5,-0.781831,0.623490,1106.90625,3569.0,878.46238,1403.858065

In [66]:
month_max = train_df.groupby(['item', 'corporation', 'location', 'month'])['price'].max().reset_index()
month_max = month_max.rename(columns={'price' : 'month_max'})
train_df = train_df.merge(month_max, on=['item','corporation', 'location', 'month'], how='left')
test_df = test_df.merge(month_max, on=['item','corporation', 'location', 'month'], how='left')

train_df.head()

,ID,timestamp,item,corporation,location,supply,price,year,month,week,day,day_of_week,day_of_year,sin_dayofweek,cos_dayofweek,month_week_mean,month_week_max,month_week_std,month_mean,month_max
0,TG_A_J_20190101,2019-01-01,TG,A,J,0.0,0.0,2019,1,1,1,1,1,0.974928,-0.222521,1106.90625,3569.0,878.46238,1403.858065,5685.0
1,TG_A_J_20190102,2019-01-02,TG,A,J,0.0,0.0,2019,1,1,2,2,2,0.433884,-0.900969,1106.90625,3569.0,878.46238,1403.858065,5685.0
2,TG_A_J_20190103,2019-01-03,TG,A,J,60601.0,1728.0,2019,1,1,3,3,3,-0.433884,-0.900969,1106.90625,3569.0,878.46238,1403.858065,5685.0
3,TG_A_J_20190104,2019-01-04,TG,A,J,25000.0,1408.0,2019,1,1,4,4,4,-0.974928,-0.222521,1106.90625,3569.0,878.46238,1403.858065,5685.0
4,TG_A_J_20190105,2019-01-05,TG,A,J,32352.0,1250.0,2019,1,1,5,5,5,-0.781831,0.623490,1106.90625,3569.0,878.46238,1403.858065,5685.0

In [67]:
month_std = train_df.groupby(['item', 'corporation', 'location', 'month'])['price'].std().reset_index()
month_std = month_std.rename(columns={'price' : 'month_std'})
train_df = train_df.merge(month_std, on=['item','corporation', 'location', 'month'], how='left')
test_df = test_df.merge(month_std, on=['item','corporation', 'location', 'month'], how='left')

train_df.head()

,ID,timestamp,item,corporation,location,supply,price,year,month,week,...,day_of_week,day_of_year,sin_dayofweek,cos_dayofweek,month_week_mean,month_week_max,month_week_std,month_mean,month_max,month_std
0,TG_A_J_20190101,2019-01-01,TG,A,J,0.0,0.0,2019,1,1,...,1,1,0.974928,-0.222521,1106.90625,3569.0,878.46238,1403.858065,5685.0,988.542903
1,TG_A_J_20190102,2019-01-02,TG,A,J,0.0,0.0,2019,1,1,...,2,2,0.433884,-0.900969,1106.90625,3569.0,878.46238,1403.858065,5685.0,988.542903
2,TG_A_J_20190103,2019-01-03,TG,A,J,60601.0,1728.0,2019,1,1,...,3,3,-0.433884,-0.900969,1106.90625,3569.0,878.46238,1403.858065,5685.0,988.542903
3,TG_A_J_20190104,2019-01-04,TG,A,J,25000.0,1408.0,2019,1,1,...,4,4,-0.974928,-0.222521,1106.90625,3569.0,878.46238,1403.858065,5685.0,988.542903
4,TG_A_J_20190105,2019-01-05,TG,A,J,32352.0,1250.0,2019,1,1,...,5,5,-0.781831,0.623490,1106.90625,3569.0,878.46238,1403.858065,5685.0,988.542903

In [68]:
year_month_mean = train_df.groupby(['item', 'corporation', 'location', 'month', 'year'])['price'].mean().reset_index()
year_month_mean

     item corporation location  month  year        price
0      BC           A        J      1  2019  1673.451613
1      BC           A        J      1  2020  1615.870968
2      BC           A        J      1  2021  2108.838710
3      BC           A        J      1  2022  3162.451613
4      BC           A        J      1  2023  1805.258065
...   ...         ...      ...    ...   ...          ...
1984   TG           E        S     11  2022  1094.966667
1985   TG           E        S     12  2019  1096.451613
1986   TG           E        S     12  2020  1160.645161
1987   TG           E        S     12  2021  1398.548387
1988   TG           E        S     12  2022  1577.387097

[1989 rows x 6 columns]

In [69]:
year_month_mean['month'] = year_month_mean['month'] + 1
year_month_mean

     item corporation location  month  year        price
0      BC           A        J      2  2019  1673.451613
1      BC           A        J      2  2020  1615.870968
2      BC           A        J      2  2021  2108.838710
3      BC           A        J      2  2022  3162.451613
4      BC           A        J      2  2023  1805.258065
...   ...         ...      ...    ...   ...          ...
1984   TG           E        S     12  2022  1094.966667
1985   TG           E        S     13  2019  1096.451613
1986   TG           E        S     13  2020  1160.645161
1987   TG           E        S     13  2021  1398.548387
1988   TG           E        S     13  2022  1577.387097

[1989 rows x 6 columns]

In [70]:
mask = year_month_mean['month'] == 13
year_month_mean.loc[mask, 'month'] = 1
year_month_mean.loc[mask, 'year'] = year_month_mean.loc[mask, 'year'] + 1
year_month_mean

     item corporation location  month  year        price
0      BC           A        J      2  2019  1673.451613
1      BC           A        J      2  2020  1615.870968
2      BC           A        J      2  2021  2108.838710
3      BC           A        J      2  2022  3162.451613
4      BC           A        J      2  2023  1805.258065
...   ...         ...      ...    ...   ...          ...
1984   TG           E        S     12  2022  1094.966667
1985   TG           E        S      1  2020  1096.451613
1986   TG           E        S      1  2021  1160.645161
1987   TG           E        S      1  2022  1398.548387
1988   TG           E        S      1  2023  1577.387097

[1989 rows x 6 columns]

In [71]:
year_month_mean = year_month_mean.rename(columns={'price' : 'last_month_mean'})
train_df = train_df.merge(year_month_mean, on=['item','corporation', 'location', 'month', 'year'], how='left')
test_df = test_df.merge(year_month_mean, on=['item','corporation', 'location', 'month' , 'year'], how='left')

train_df

,ID,timestamp,item,corporation,location,supply,price,year,month,week,...,day_of_year,sin_dayofweek,cos_dayofweek,month_week_mean,month_week_max,month_week_std,month_mean,month_max,month_std,last_month_mean
0,TG_A_J_20190101,2019-01-01,TG,A,J,0.0,0.0,2019,1,1,...,1,0.974928,-0.222521,1106.906250,3569.0,878.462380,1403.858065,5685.0,988.542903,NaN
1,TG_A_J_20190102,2019-01-02,TG,A,J,0.0,0.0,2019,1,1,...,2,0.433884,-0.900969,1106.906250,3569.0,878.462380,1403.858065,5685.0,988.542903,NaN
2,TG_A_J_20190103,2019-01-03,TG,A,J,60601.0,1728.0,2019,1,1,...,3,-0.433884,-0.900969,1106.906250,3569.0,878.462380,1403.858065,5685.0,988.542903,NaN
3,TG_A_J_20190104,2019-01-04,TG,A,J,25000.0,1408.0,2019,1,1,...,4,-0.974928,-0.222521,1106.906250,3569.0,878.462380,1403.858065,5685.0,988.542903,NaN
4,TG_A_J_20190105,2019-01-05,TG,A,J,32352.0,1250.0,2019,1,1,...,5,-0.781831,0.623490,1106.906250,3569.0,878.462380,1403.858065,5685.0,988.542903,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
59392,RD_F_J_20230227,2023-02-27,RD,F,J,452440.0,468.0,2023,2,9,...,58,0.781831,0.623490,412.384615,531.0,53.849386,354.177305,689.0,192.959888,364.290323
59393,RD_F_J_20230228,2023-02-28,RD,F,J,421980.0,531.0,2023,2,9,...,59,0.974928,-0.222521,412.384615,531.0,53.849386,354.177305,689.0,192.959888,364.290323
59394,RD_F_J_20230301,2023-03-01,RD,F,J,382980.0,574.0,2023,3,9,...,60,0.433884,-0.900969,348.500000,574.0,192.262293,332.102362,574.0,158.666708,434.857143
59395,RD_F_J_20230302,2023-03-02,RD,F,J,477220.0,523.0,2023,3,9,...,61,-0.433884,-0.900969,348.500000,574.0,192.262293,332.102362,574.0,158.666708,434.857143
59396,RD_F_J_20230303,2023-03-03,RD,F,J,427520.0,529.0,2023,3,9,...,62,-0.974928,-0.222521,348.500000,574.0,192.262293,332.102362,574.0,158.666708,434.857143

In [72]:
test_df

,ID,timestamp,item,corporation,location,year,month,week,day,day_of_week,day_of_year,sin_dayofweek,cos_dayofweek,month_week_mean,month_week_max,month_week_std,month_mean,month_max,month_std,last_month_mean
0,TG_A_J_20230304,2023-03-04,TG,A,J,2023,3,9,4,5,63,-7.818315e-01,0.623490,2487.800000,4538.0,1676.428208,3215.417323,10044.0,2047.942430,1955.285714
1,TG_A_J_20230305,2023-03-05,TG,A,J,2023,3,9,5,6,64,-2.449294e-16,1.000000,2487.800000,4538.0,1676.428208,3215.417323,10044.0,2047.942430,1955.285714
2,TG_A_J_20230306,2023-03-06,TG,A,J,2023,3,10,6,0,65,7.818315e-01,0.623490,2563.142857,4838.0,1579.706037,3215.417323,10044.0,2047.942430,1955.285714
3,TG_A_J_20230307,2023-03-07,TG,A,J,2023,3,10,7,1,66,9.749279e-01,-0.222521,2563.142857,4838.0,1579.706037,3215.417323,10044.0,2047.942430,1955.285714
4,TG_A_J_20230308,2023-03-08,TG,A,J,2023,3,10,8,2,67,4.338837e-01,-0.900969,2563.142857,4838.0,1579.706037,3215.417323,10044.0,2047.942430,1955.285714
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1087,RD_F_J_20230327,2023-03-27,RD,F,J,2023,3,13,27,0,86,7.818315e-01,0.623490,354.761905,552.0,143.423117,332.102362,574.0,158.666708,434.857143
1088,RD_F_J_20230328,2023-03-28,RD,F,J,2023,3,13,28,1,87,9.749279e-01,-0.222521,354.761905,552.0,143.423117,332.102362,574.0,158.666708,434.857143
1089,RD_F_J_20230329,2023-03-29,RD,F,J,2023,3,13,29,2,88,4.338837e-01,-0.900969,354.761905,552.0,143.423117,332.102362,574.0,158.666708,434.857143
1090,RD_F_J_20230330,2023-03-30,RD,F,J,2023,3,13,30,3,89,-4.338837e-01,-0.900969,354.761905,552.0,143.423117,332.102362,574.0,158.666708,434.857143
1091,RD_F_J_20230331,2023-03-31,RD,F,J,2023,3,13,31,4,90,-9.749279e-01,-0.222521,354.761905,552.0,143.423117,332.102362,574.0,158.666708,434.857143

In [73]:
month_mean = train_df.groupby(['item', 'corporation', 'location', 'month'])['price'].mean().reset_index()
month_1_mean = month_mean.loc[month_mean['month'] == 12]
month_1_mean

    item corporation location  month        price
11    BC           A        J     12  2292.362903
23    BC           A        S     12  2410.120968
35    BC           B        J     12  2014.129032
47    BC           B        S     12    79.637097
59    BC           C        J     12  2166.862903
71    BC           C        S     12    17.137097
83    BC           D        J     12  2546.209677
95    BC           E        J     12  2670.758065
107   BC           E        S     12  2748.701613
119   CB           A        J     12   421.298387
131   CB           A        S     12     0.000000
143   CB           D        J     12    40.153226
155   CB           E        J     12   223.161290
167   CB           F        J     12   198.532258
179   CR           A        J     12   708.024194
191   CR           B        J     12   366.733871
203   CR           C        J     12   425.612903
215   CR           D        J     12   967.588710
227   CR           D        S     12    32.217742
239   CR           E        J     12   950.153226
251   CR           E        S     12    64.129032
263   RD           A        J     12   364.443548
275   RD           A        S     12   306.072581
287   RD           C        S     12     0.000000
299   RD           D        J     12   188.766129
311   RD           D        S     12   294.790323
323   RD           E        J     12   140.048387
335   RD           E        S     12   147.564516
347   RD           F        J     12   563.596774
359   TG           A        J     12   968.604839
371   TG           A        S     12  1315.000000
383   TG           B        J     12  1187.483871
395   TG           B        S     12  1378.895161
407   TG           C        J     12  1448.443548
419   TG           C        S     12  1585.225806
431   TG           D        J     12  1281.516129
443   TG           D        S     12  1527.217742
455   TG           E        J     12  1230.419355
467   TG           E        S     12  1308.258065

In [74]:
for item in train_df['item'].unique():
    for corporation in train_df['corporation'].unique():
        for location in train_df['location'].unique():
            try:
                mask_1 = (train_df['item'] == item) & (train_df['corporation'] == corporation) & (train_df['location'] == location)
                mask_2 = (month_1_mean['item'] == item) & (month_1_mean['corporation'] == corporation) & (month_1_mean['location'] == location)
                train_df[mask_1] = train_df[mask_1].fillna(month_1_mean.loc[mask_2, 'price'].values[0])
            except:
                continue

train_df

,ID,timestamp,item,corporation,location,supply,price,year,month,week,...,day_of_year,sin_dayofweek,cos_dayofweek,month_week_mean,month_week_max,month_week_std,month_mean,month_max,month_std,last_month_mean
0,TG_A_J_20190101,2019-01-01,TG,A,J,0.0,0.0,2019,1,1,...,1,0.974928,-0.222521,1106.906250,3569.0,878.462380,1403.858065,5685.0,988.542903,968.604839
1,TG_A_J_20190102,2019-01-02,TG,A,J,0.0,0.0,2019,1,1,...,2,0.433884,-0.900969,1106.906250,3569.0,878.462380,1403.858065,5685.0,988.542903,968.604839
2,TG_A_J_20190103,2019-01-03,TG,A,J,60601.0,1728.0,2019,1,1,...,3,-0.433884,-0.900969,1106.906250,3569.0,878.462380,1403.858065,5685.0,988.542903,968.604839
3,TG_A_J_20190104,2019-01-04,TG,A,J,25000.0,1408.0,2019,1,1,...,4,-0.974928,-0.222521,1106.906250,3569.0,878.462380,1403.858065,5685.0,988.542903,968.604839
4,TG_A_J_20190105,2019-01-05,TG,A,J,32352.0,1250.0,2019,1,1,...,5,-0.781831,0.623490,1106.906250,3569.0,878.462380,1403.858065,5685.0,988.542903,968.604839
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
59392,RD_F_J_20230227,2023-02-27,RD,F,J,452440.0,468.0,2023,2,9,...,58,0.781831,0.623490,412.384615,531.0,53.849386,354.177305,689.0,192.959888,364.290323
59393,RD_F_J_20230228,2023-02-28,RD,F,J,421980.0,531.0,2023,2,9,...,59,0.974928,-0.222521,412.384615,531.0,53.849386,354.177305,689.0,192.959888,364.290323
59394,RD_F_J_20230301,2023-03-01,RD,F,J,382980.0,574.0,2023,3,9,...,60,0.433884,-0.900969,348.500000,574.0,192.262293,332.102362,574.0,158.666708,434.857143
59395,RD_F_J_20230302,2023-03-02,RD,F,J,477220.0,523.0,2023,3,9,...,61,-0.433884,-0.900969,348.500000,574.0,192.262293,332.102362,574.0,158.666708,434.857143
59396,RD_F_J_20230303,2023-03-03,RD,F,J,427520.0,529.0,2023,3,9,...,62,-0.974928,-0.222521,348.500000,574.0,192.262293,332.102362,574.0,158.666708,434.857143

In [75]:
month_mean_supply = train_df.groupby(['item', 'corporation', 'location', 'month'])['supply'].mean().reset_index()
month_mean_supply = month_mean_supply.rename(columns={'supply' : 'month_mean_supply'})
train_df = train_df.merge(month_mean_supply, on=['item','corporation', 'location', 'month'], how='left')
test_df = test_df.merge(month_mean_supply, on=['item','corporation', 'location', 'month'], how='left')

train_df.head()

,ID,timestamp,item,corporation,location,supply,price,year,month,week,...,sin_dayofweek,cos_dayofweek,month_week_mean,month_week_max,month_week_std,month_mean,month_max,month_std,last_month_mean,month_mean_supply
0,TG_A_J_20190101,2019-01-01,TG,A,J,0.0,0.0,2019,1,1,...,0.974928,-0.222521,1106.90625,3569.0,878.46238,1403.858065,5685.0,988.542903,968.604839,29435.214839
1,TG_A_J_20190102,2019-01-02,TG,A,J,0.0,0.0,2019,1,1,...,0.433884,-0.900969,1106.90625,3569.0,878.46238,1403.858065,5685.0,988.542903,968.604839,29435.214839
2,TG_A_J_20190103,2019-01-03,TG,A,J,60601.0,1728.0,2019,1,1,...,-0.433884,-0.900969,1106.90625,3569.0,878.46238,1403.858065,5685.0,988.542903,968.604839,29435.214839
3,TG_A_J_20190104,2019-01-04,TG,A,J,25000.0,1408.0,2019,1,1,...,-0.974928,-0.222521,1106.90625,3569.0,878.46238,1403.858065,5685.0,988.542903,968.604839,29435.214839
4,TG_A_J_20190105,2019-01-05,TG,A,J,32352.0,1250.0,2019,1,1,...,-0.781831,0.623490,1106.90625,3569.0,878.46238,1403.858065,5685.0,988.542903,968.604839,29435.214839

In [76]:
month_std_supply = train_df.groupby(['item', 'corporation', 'location', 'month'])['supply'].std().reset_index()
month_std_supply = month_std_supply.rename(columns={'supply' : 'month_std_supply'})
train_df = train_df.merge(month_std_supply, on=['item','corporation', 'location', 'month'], how='left')
test_df = test_df.merge(month_std_supply, on=['item','corporation', 'location', 'month'], how='left')

train_df.head()

,ID,timestamp,item,corporation,location,supply,price,year,month,week,...,cos_dayofweek,month_week_mean,month_week_max,month_week_std,month_mean,month_max,month_std,last_month_mean,month_mean_supply,month_std_supply
0,TG_A_J_20190101,2019-01-01,TG,A,J,0.0,0.0,2019,1,1,...,-0.222521,1106.90625,3569.0,878.46238,1403.858065,5685.0,988.542903,968.604839,29435.214839,31616.201794
1,TG_A_J_20190102,2019-01-02,TG,A,J,0.0,0.0,2019,1,1,...,-0.900969,1106.90625,3569.0,878.46238,1403.858065,5685.0,988.542903,968.604839,29435.214839,31616.201794
2,TG_A_J_20190103,2019-01-03,TG,A,J,60601.0,1728.0,2019,1,1,...,-0.900969,1106.90625,3569.0,878.46238,1403.858065,5685.0,988.542903,968.604839,29435.214839,31616.201794
3,TG_A_J_20190104,2019-01-04,TG,A,J,25000.0,1408.0,2019,1,1,...,-0.222521,1106.90625,3569.0,878.46238,1403.858065,5685.0,988.542903,968.604839,29435.214839,31616.201794
4,TG_A_J_20190105,2019-01-05,TG,A,J,32352.0,1250.0,2019,1,1,...,0.623490,1106.90625,3569.0,878.46238,1403.858065,5685.0,988.542903,968.604839,29435.214839,31616.201794

In [77]:
month_week_mean_supply = train_df.groupby(['item', 'corporation', 'location', 'month', 'week'])['supply'].mean().reset_index()
month_week_mean_supply = month_week_mean_supply.rename(columns={'supply' : 'month_week_mean_supply'})
train_df = train_df.merge(month_week_mean_supply, on=['item','corporation', 'location', 'month', 'week'], how='left')
test_df = test_df.merge(month_week_mean_supply, on=['item','corporation', 'location', 'month' , 'week'], how='left')

train_df.head()

,ID,timestamp,item,corporation,location,supply,price,year,month,week,...,month_week_mean,month_week_max,month_week_std,month_mean,month_max,month_std,last_month_mean,month_mean_supply,month_std_supply,month_week_mean_supply
0,TG_A_J_20190101,2019-01-01,TG,A,J,0.0,0.0,2019,1,1,...,1106.90625,3569.0,878.46238,1403.858065,5685.0,988.542903,968.604839,29435.214839,31616.201794,35149.3
1,TG_A_J_20190102,2019-01-02,TG,A,J,0.0,0.0,2019,1,1,...,1106.90625,3569.0,878.46238,1403.858065,5685.0,988.542903,968.604839,29435.214839,31616.201794,35149.3
2,TG_A_J_20190103,2019-01-03,TG,A,J,60601.0,1728.0,2019,1,1,...,1106.90625,3569.0,878.46238,1403.858065,5685.0,988.542903,968.604839,29435.214839,31616.201794,35149.3
3,TG_A_J_20190104,2019-01-04,TG,A,J,25000.0,1408.0,2019,1,1,...,1106.90625,3569.0,878.46238,1403.858065,5685.0,988.542903,968.604839,29435.214839,31616.201794,35149.3
4,TG_A_J_20190105,2019-01-05,TG,A,J,32352.0,1250.0,2019,1,1,...,1106.90625,3569.0,878.46238,1403.858065,5685.0,988.542903,968.604839,29435.214839,31616.201794,35149.3

In [78]:
month_week_std_supply = train_df.groupby(['item', 'corporation', 'location', 'month', 'week'])['supply'].std().reset_index()
month_week_std_supply = month_week_std_supply.rename(columns={'supply' : 'month_week_std_supply'})
train_df = train_df.merge(month_week_std_supply, on=['item','corporation', 'location', 'month', 'week'], how='left')
test_df = test_df.merge(month_week_std_supply, on=['item','corporation', 'location', 'month' , 'week'], how='left')

train_df.head()

,ID,timestamp,item,corporation,location,supply,price,year,month,week,...,month_week_max,month_week_std,month_mean,month_max,month_std,last_month_mean,month_mean_supply,month_std_supply,month_week_mean_supply,month_week_std_supply
0,TG_A_J_20190101,2019-01-01,TG,A,J,0.0,0.0,2019,1,1,...,3569.0,878.46238,1403.858065,5685.0,988.542903,968.604839,29435.214839,31616.201794,35149.3,41096.586661
1,TG_A_J_20190102,2019-01-02,TG,A,J,0.0,0.0,2019,1,1,...,3569.0,878.46238,1403.858065,5685.0,988.542903,968.604839,29435.214839,31616.201794,35149.3,41096.586661
2,TG_A_J_20190103,2019-01-03,TG,A,J,60601.0,1728.0,2019,1,1,...,3569.0,878.46238,1403.858065,5685.0,988.542903,968.604839,29435.214839,31616.201794,35149.3,41096.586661
3,TG_A_J_20190104,2019-01-04,TG,A,J,25000.0,1408.0,2019,1,1,...,3569.0,878.46238,1403.858065,5685.0,988.542903,968.604839,29435.214839,31616.201794,35149.3,41096.586661
4,TG_A_J_20190105,2019-01-05,TG,A,J,32352.0,1250.0,2019,1,1,...,3569.0,878.46238,1403.858065,5685.0,988.542903,968.604839,29435.214839,31616.201794,35149.3,41096.586661

In [79]:
train_df['total'] = train_df['supply'] * train_df['price']

month_week_mean_total = train_df.groupby(['item', 'corporation', 'location', 'month', 'week'])['total'].mean().reset_index()
month_week_mean_total = month_week_mean_total.rename(columns={'total' : 'month_week_mean_total'})
train_df = train_df.merge(month_week_mean_total, on=['item','corporation', 'location', 'month', 'week'], how='left')
test_df = test_df.merge(month_week_mean_total, on=['item','corporation', 'location', 'month' , 'week'], how='left')

train_df.head()

,ID,timestamp,item,corporation,location,supply,price,year,month,week,...,month_mean,month_max,month_std,last_month_mean,month_mean_supply,month_std_supply,month_week_mean_supply,month_week_std_supply,total,month_week_mean_total
0,TG_A_J_20190101,2019-01-01,TG,A,J,0.0,0.0,2019,1,1,...,1403.858065,5685.0,988.542903,968.604839,29435.214839,31616.201794,35149.3,41096.586661,0.0,5.244109e+07
1,TG_A_J_20190102,2019-01-02,TG,A,J,0.0,0.0,2019,1,1,...,1403.858065,5685.0,988.542903,968.604839,29435.214839,31616.201794,35149.3,41096.586661,0.0,5.244109e+07
2,TG_A_J_20190103,2019-01-03,TG,A,J,60601.0,1728.0,2019,1,1,...,1403.858065,5685.0,988.542903,968.604839,29435.214839,31616.201794,35149.3,41096.586661,104718528.0,5.244109e+07
3,TG_A_J_20190104,2019-01-04,TG,A,J,25000.0,1408.0,2019,1,1,...,1403.858065,5685.0,988.542903,968.604839,29435.214839,31616.201794,35149.3,41096.586661,35200000.0,5.244109e+07
4,TG_A_J_20190105,2019-01-05,TG,A,J,32352.0,1250.0,2019,1,1,...,1403.858065,5685.0,988.542903,968.604839,29435.214839,31616.201794,35149.3,41096.586661,40440000.0,5.244109e+07

In [80]:
month_week_std_total = train_df.groupby(['item', 'corporation', 'location', 'month', 'week'])['total'].std().reset_index()
month_week_std_total = month_week_std_total.rename(columns={'total' : 'month_week_std_total'})
train_df = train_df.merge(month_week_std_total, on=['item','corporation', 'location', 'month', 'week'], how='left')
test_df = test_df.merge(month_week_std_total, on=['item','corporation', 'location', 'month' , 'week'], how='left')

train_df.head()

,ID,timestamp,item,corporation,location,supply,price,year,month,week,...,month_max,month_std,last_month_mean,month_mean_supply,month_std_supply,month_week_mean_supply,month_week_std_supply,total,month_week_mean_total,month_week_std_total
0,TG_A_J_20190101,2019-01-01,TG,A,J,0.0,0.0,2019,1,1,...,5685.0,988.542903,968.604839,29435.214839,31616.201794,35149.3,41096.586661,0.0,5.244109e+07,5.790161e+07
1,TG_A_J_20190102,2019-01-02,TG,A,J,0.0,0.0,2019,1,1,...,5685.0,988.542903,968.604839,29435.214839,31616.201794,35149.3,41096.586661,0.0,5.244109e+07,5.790161e+07
2,TG_A_J_20190103,2019-01-03,TG,A,J,60601.0,1728.0,2019,1,1,...,5685.0,988.542903,968.604839,29435.214839,31616.201794,35149.3,41096.586661,104718528.0,5.244109e+07,5.790161e+07
3,TG_A_J_20190104,2019-01-04,TG,A,J,25000.0,1408.0,2019,1,1,...,5685.0,988.542903,968.604839,29435.214839,31616.201794,35149.3,41096.586661,35200000.0,5.244109e+07,5.790161e+07
4,TG_A_J_20190105,2019-01-05,TG,A,J,32352.0,1250.0,2019,1,1,...,5685.0,988.542903,968.604839,29435.214839,31616.201794,35149.3,41096.586661,40440000.0,5.244109e+07,5.790161e+07

In [81]:
month_mean_total = train_df.groupby(['item', 'corporation', 'location', 'month'])['total'].mean().reset_index()
month_mean_total = month_mean_total.rename(columns={'total' : 'month_mean_total'})
train_df = train_df.merge(month_mean_total, on=['item','corporation', 'location', 'month'], how='left')
test_df = test_df.merge(month_mean_total, on=['item','corporation', 'location', 'month' ], how='left')

train_df.head()

,ID,timestamp,item,corporation,location,supply,price,year,month,week,...,month_std,last_month_mean,month_mean_supply,month_std_supply,month_week_mean_supply,month_week_std_supply,total,month_week_mean_total,month_week_std_total,month_mean_total
0,TG_A_J_20190101,2019-01-01,TG,A,J,0.0,0.0,2019,1,1,...,988.542903,968.604839,29435.214839,31616.201794,35149.3,41096.586661,0.0,5.244109e+07,5.790161e+07,4.952021e+07
1,TG_A_J_20190102,2019-01-02,TG,A,J,0.0,0.0,2019,1,1,...,988.542903,968.604839,29435.214839,31616.201794,35149.3,41096.586661,0.0,5.244109e+07,5.790161e+07,4.952021e+07
2,TG_A_J_20190103,2019-01-03,TG,A,J,60601.0,1728.0,2019,1,1,...,988.542903,968.604839,29435.214839,31616.201794,35149.3,41096.586661,104718528.0,5.244109e+07,5.790161e+07,4.952021e+07
3,TG_A_J_20190104,2019-01-04,TG,A,J,25000.0,1408.0,2019,1,1,...,988.542903,968.604839,29435.214839,31616.201794,35149.3,41096.586661,35200000.0,5.244109e+07,5.790161e+07,4.952021e+07
4,TG_A_J_20190105,2019-01-05,TG,A,J,32352.0,1250.0,2019,1,1,...,988.542903,968.604839,29435.214839,31616.201794,35149.3,41096.586661,40440000.0,5.244109e+07,5.790161e+07,4.952021e+07

In [82]:
month_std_total = train_df.groupby(['item', 'corporation', 'location', 'month'])['total'].std().reset_index()
month_std_total = month_std_total.rename(columns={'total' : 'month_std_total'})
train_df = train_df.merge(month_std_total, on=['item','corporation', 'location', 'month'], how='left')
test_df = test_df.merge(month_std_total, on=['item','corporation', 'location', 'month' ], how='left')

train_df.head()

,ID,timestamp,item,corporation,location,supply,price,year,month,week,...,last_month_mean,month_mean_supply,month_std_supply,month_week_mean_supply,month_week_std_supply,total,month_week_mean_total,month_week_std_total,month_mean_total,month_std_total
0,TG_A_J_20190101,2019-01-01,TG,A,J,0.0,0.0,2019,1,1,...,968.604839,29435.214839,31616.201794,35149.3,41096.586661,0.0,5.244109e+07,5.790161e+07,4.952021e+07,5.091995e+07
1,TG_A_J_20190102,2019-01-02,TG,A,J,0.0,0.0,2019,1,1,...,968.604839,29435.214839,31616.201794,35149.3,41096.586661,0.0,5.244109e+07,5.790161e+07,4.952021e+07,5.091995e+07
2,TG_A_J_20190103,2019-01-03,TG,A,J,60601.0,1728.0,2019,1,1,...,968.604839,29435.214839,31616.201794,35149.3,41096.586661,104718528.0,5.244109e+07,5.790161e+07,4.952021e+07,5.091995e+07
3,TG_A_J_20190104,2019-01-04,TG,A,J,25000.0,1408.0,2019,1,1,...,968.604839,29435.214839,31616.201794,35149.3,41096.586661,35200000.0,5.244109e+07,5.790161e+07,4.952021e+07,5.091995e+07
4,TG_A_J_20190105,2019-01-05,TG,A,J,32352.0,1250.0,2019,1,1,...,968.604839,29435.214839,31616.201794,35149.3,41096.586661,40440000.0,5.244109e+07,5.790161e+07,4.952021e+07,5.091995e+07

In [83]:
trade_df = trade_df[trade_df.품목명.str.contains('감귤|브로콜리|무|당근|양배추')]
trade_df = trade_df[(trade_df.품목명 != '무화과') & (trade_df.품목명 != '방울다다기 양배추')].reset_index(drop=True)
trade_df

          기간                   품목명   수출 중량  수출 금액    수입 중량  수입 금액  무역수지
0    2019-01  꽃양배추와 브로콜리(broccoli)     160      1   638913    563  -562
1    2019-01                   양배추  184650     94   395802     90     4
2    2019-01                    당근   23150     22  7466150   2955 -2934
3    2019-01                    감귤   58368    172        0      0   172
4    2019-02  꽃양배추와 브로콜리(broccoli)     780      1   396870    399  -398
..       ...                   ...     ...    ...      ...    ...   ...
201  2023-02  꽃양배추와 브로콜리(broccoli)      24      0   332640    352  -352
202  2023-02                   양배추   13188     13   377456    104   -91
203  2023-02                    당근   22510     20  9260020   3758 -3737
204  2023-02                    순무    4000      4        2      0     4
205  2023-02                    감귤    6895     34    27765     98   -64

[206 rows x 7 columns]

In [84]:
trade_df['year'] = trade_df['기간'].apply(lambda x : int(x[0:4]))
trade_df['month'] = trade_df['기간'].apply(lambda x : int(x[5:7]))
trade_df.drop(columns = '기간', inplace=True)
trade_df

                      품목명   수출 중량  수출 금액    수입 중량  수입 금액  무역수지  year  month
0    꽃양배추와 브로콜리(broccoli)     160      1   638913    563  -562  2019      1
1                     양배추  184650     94   395802     90     4  2019      1
2                      당근   23150     22  7466150   2955 -2934  2019      1
3                      감귤   58368    172        0      0   172  2019      1
4    꽃양배추와 브로콜리(broccoli)     780      1   396870    399  -398  2019      2
..                    ...     ...    ...      ...    ...   ...   ...    ...
201  꽃양배추와 브로콜리(broccoli)      24      0   332640    352  -352  2023      2
202                   양배추   13188     13   377456    104   -91  2023      2
203                    당근   22510     20  9260020   3758 -3737  2023      2
204                    순무    4000      4        2      0     4  2023      2
205                    감귤    6895     34    27765     98   -64  2023      2

[206 rows x 8 columns]

In [85]:
trade_df['품목명'].unique()

array(['꽃양배추와 브로콜리(broccoli)', '양배추', '당근', '감귤', '순무'], dtype=object)

In [86]:
train_df['item'].unique()

array(['TG', 'CR', 'CB', 'RD', 'BC'], dtype=object)

In [87]:
lst = ['BC', 'CB', 'CR', 'TG', 'RD']
for i, item in enumerate(trade_df['품목명'].unique()):
    trade_df.loc[trade_df['품목명'] == item, '품목명'] = lst[i]

trade_df

    품목명   수출 중량  수출 금액    수입 중량  수입 금액  무역수지  year  month
0    BC     160      1   638913    563  -562  2019      1
1    CB  184650     94   395802     90     4  2019      1
2    CR   23150     22  7466150   2955 -2934  2019      1
3    TG   58368    172        0      0   172  2019      1
4    BC     780      1   396870    399  -398  2019      2
..   ..     ...    ...      ...    ...   ...   ...    ...
201  BC      24      0   332640    352  -352  2023      2
202  CB   13188     13   377456    104   -91  2023      2
203  CR   22510     20  9260020   3758 -3737  2023      2
204  RD    4000      4        2      0     4  2023      2
205  TG    6895     34    27765     98   -64  2023      2

[206 rows x 8 columns]

In [88]:
trade_df = trade_df.rename(columns={
    '품목명': 'item',
    '수출 중량': 'out_weight',
    '수출 금액': 'out_value',
    '수입 중량': 'in_weight',
    '수입 금액': 'in_value',
    '무역수지': 'tradebalance'
})

trade_df.head()

  item  out_weight  out_value  in_weight  in_value  tradebalance  year  month
0   BC         160          1     638913       563          -562  2019      1
1   CB      184650         94     395802        90             4  2019      1
2   CR       23150         22    7466150      2955         -2934  2019      1
3   TG       58368        172          0         0           172  2019      1
4   BC         780          1     396870       399          -398  2019      2

In [89]:
train_df = train_df.merge(trade_df, on=['year', 'month', 'item'], how='left')
test_df = test_df.merge(trade_df, on=['year', 'month', 'item'], how='left')

train_df

,ID,timestamp,item,corporation,location,supply,price,year,month,week,...,total,month_week_mean_total,month_week_std_total,month_mean_total,month_std_total,out_weight,out_value,in_weight,in_value,tradebalance
0,TG_A_J_20190101,2019-01-01,TG,A,J,0.0,0.0,2019,1,1,...,0.0,5.244109e+07,5.790161e+07,4.952021e+07,5.091995e+07,58368.0,172.0,0.0,0.0,172.0
1,TG_A_J_20190102,2019-01-02,TG,A,J,0.0,0.0,2019,1,1,...,0.0,5.244109e+07,5.790161e+07,4.952021e+07,5.091995e+07,58368.0,172.0,0.0,0.0,172.0
2,TG_A_J_20190103,2019-01-03,TG,A,J,60601.0,1728.0,2019,1,1,...,104718528.0,5.244109e+07,5.790161e+07,4.952021e+07,5.091995e+07,58368.0,172.0,0.0,0.0,172.0
3,TG_A_J_20190104,2019-01-04,TG,A,J,25000.0,1408.0,2019,1,1,...,35200000.0,5.244109e+07,5.790161e+07,4.952021e+07,5.091995e+07,58368.0,172.0,0.0,0.0,172.0
4,TG_A_J_20190105,2019-01-05,TG,A,J,32352.0,1250.0,2019,1,1,...,40440000.0,5.244109e+07,5.790161e+07,4.952021e+07,5.091995e+07,58368.0,172.0,0.0,0.0,172.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
59392,RD_F_J_20230227,2023-02-27,RD,F,J,452440.0,468.0,2023,2,9,...,211741920.0,1.706946e+08,5.079797e+07,1.476583e+08,9.325641e+07,4000.0,4.0,2.0,0.0,4.0
59393,RD_F_J_20230228,2023-02-28,RD,F,J,421980.0,531.0,2023,2,9,...,224071380.0,1.706946e+08,5.079797e+07,1.476583e+08,9.325641e+07,4000.0,4.0,2.0,0.0,4.0
59394,RD_F_J_20230301,2023-03-01,RD,F,J,382980.0,574.0,2023,3,9,...,219830520.0,1.526513e+08,8.587015e+07,1.469691e+08,7.611450e+07,NaN,NaN,NaN,NaN,NaN
59395,RD_F_J_20230302,2023-03-02,RD,F,J,477220.0,523.0,2023,3,9,...,249586060.0,1.526513e+08,8.587015e+07,1.469691e+08,7.611450e+07,NaN,NaN,NaN,NaN,NaN
59396,RD_F_J_20230303,2023-03-03,RD,F,J,427520.0,529.0,2023,3,9,...,226158080.0,1.526513e+08,8.587015e+07,1.469691e+08,7.611450e+07,NaN,NaN,NaN,NaN,NaN

In [90]:
train_df = train_df.fillna(0)
test_df = test_df.fillna(0)

train_df.isnull().sum().sum() , test_df.isnull().sum().sum()

(0, 0)

In [91]:
# 품목별 평균 가격
item_mean_price = train_df.groupby('item')['price'].mean().reset_index()
item_mean_price.columns = ['item', 'item_mean_price']

train_df = train_df.merge(item_mean_price, on='item', how='left')
test_df = test_df.merge(item_mean_price, on='item', how='left')

# 법인별 평균 가격
corp_mean_price = train_df.groupby('corporation')['price'].mean().reset_index()
corp_mean_price.columns = ['corporation', 'corp_mean_price']

train_df = train_df.merge(corp_mean_price, on='corporation', how='left')
test_df = test_df.merge(corp_mean_price, on='corporation', how='left')

# 지역별 평균 가격
location_mean_price = train_df.groupby('location')['price'].mean().reset_index()
location_mean_price.columns = ['location', 'location_mean_price']

train_df = train_df.merge(location_mean_price, on='location', how='left')
test_df = test_df.merge(location_mean_price, on='location', how='left')

In [92]:
from sklearn.preprocessing import LabelEncoder

cols = ['item', 'corporation', 'location']

for col in cols:
    enc = LabelEncoder()
    train_df[col]=enc.fit_transform(train_df[col])
    test_df[col]=enc.transform(test_df[col])

train_df.head()

,ID,timestamp,item,corporation,location,supply,price,year,month,week,...,month_mean_total,month_std_total,out_weight,out_value,in_weight,in_value,tradebalance,item_mean_price,corp_mean_price,location_mean_price
0,TG_A_J_20190101,2019-01-01,4,0,0,0.0,0.0,2019,1,1,...,4.952021e+07,5.091995e+07,58368.0,172.0,0.0,0.0,172.0,3177.442022,1141.704458,1062.35148
1,TG_A_J_20190102,2019-01-02,4,0,0,0.0,0.0,2019,1,1,...,4.952021e+07,5.091995e+07,58368.0,172.0,0.0,0.0,172.0,3177.442022,1141.704458,1062.35148
2,TG_A_J_20190103,2019-01-03,4,0,0,60601.0,1728.0,2019,1,1,...,4.952021e+07,5.091995e+07,58368.0,172.0,0.0,0.0,172.0,3177.442022,1141.704458,1062.35148
3,TG_A_J_20190104,2019-01-04,4,0,0,25000.0,1408.0,2019,1,1,...,4.952021e+07,5.091995e+07,58368.0,172.0,0.0,0.0,172.0,3177.442022,1141.704458,1062.35148
4,TG_A_J_20190105,2019-01-05,4,0,0,32352.0,1250.0,2019,1,1,...,4.952021e+07,5.091995e+07,58368.0,172.0,0.0,0.0,172.0,3177.442022,1141.704458,1062.35148

In [93]:
train_cols = train_df.drop(columns=['price', 'supply','total']).columns[2:]
test_cols = test_df.columns[2:]

In [94]:
train_cols

Index(['item', 'corporation', 'location', 'year', 'month', 'week', 'day',
       'day_of_week', 'day_of_year', 'sin_dayofweek', 'cos_dayofweek',
       'month_week_mean', 'month_week_max', 'month_week_std', 'month_mean',
       'month_max', 'month_std', 'last_month_mean', 'month_mean_supply',
       'month_std_supply', 'month_week_mean_supply', 'month_week_std_supply',
       'month_week_mean_total', 'month_week_std_total', 'month_mean_total',
       'month_std_total', 'out_weight', 'out_value', 'in_weight', 'in_value',
       'tradebalance', 'item_mean_price', 'corp_mean_price',
       'location_mean_price'],
      dtype='object')

In [95]:
len(train_cols), len(test_cols)

(34, 34)

In [96]:
from sklearn.preprocessing import StandardScaler

scaler = StandardScaler()
train_scaled = scaler.fit_transform(train_df.iloc[:,2:].drop(columns = ['price','supply','total']))
test_scaled = scaler.transform(test_df.iloc[:,2:])

# from sklearn.preprocessing import MinMaxScaler

# scaler = MinMaxScaler()
# train_scaled = scaler.fit_transform(train_df.iloc[:,2:].drop(columns = ['price','supply','total']))
# test_scaled = scaler.transform(test_df.iloc[:,2:])

In [97]:
train_scaled = pd.DataFrame(train_scaled)
test_scaled = pd.DataFrame(test_scaled)

train_scaled.columns = train_cols
test_scaled.columns = test_cols

In [98]:
train_tmp = train_df[['ID','timestamp','price','supply','total']]
test_tmp = test_df[['ID','timestamp']]

train_df = pd.concat([train_tmp,pd.DataFrame(train_scaled)], axis=1)
test_df = pd.concat([test_tmp,pd.DataFrame(test_scaled)], axis=1)

In [99]:
train_df

,ID,timestamp,price,supply,total,item,corporation,location,year,month,...,month_mean_total,month_std_total,out_weight,out_value,in_weight,in_value,tradebalance,item_mean_price,corp_mean_price,location_mean_price
0,TG_A_J_20190101,2019-01-01,0.0,0.0,0.0,1.243556,-1.386729,-0.834058,-1.333335,-1.511521,...,1.212115,1.951004,-0.195368,0.058913,-0.563792,-0.658181,0.607684,1.657821,0.033826,-0.834058
1,TG_A_J_20190102,2019-01-02,0.0,0.0,0.0,1.243556,-1.386729,-0.834058,-1.333335,-1.511521,...,1.212115,1.951004,-0.195368,0.058913,-0.563792,-0.658181,0.607684,1.657821,0.033826,-0.834058
2,TG_A_J_20190103,2019-01-03,1728.0,60601.0,104718528.0,1.243556,-1.386729,-0.834058,-1.333335,-1.511521,...,1.212115,1.951004,-0.195368,0.058913,-0.563792,-0.658181,0.607684,1.657821,0.033826,-0.834058
3,TG_A_J_20190104,2019-01-04,1408.0,25000.0,35200000.0,1.243556,-1.386729,-0.834058,-1.333335,-1.511521,...,1.212115,1.951004,-0.195368,0.058913,-0.563792,-0.658181,0.607684,1.657821,0.033826,-0.834058
4,TG_A_J_20190105,2019-01-05,1250.0,32352.0,40440000.0,1.243556,-1.386729,-0.834058,-1.333335,-1.511521,...,1.212115,1.951004,-0.195368,0.058913,-0.563792,-0.658181,0.607684,1.657821,0.033826,-0.834058
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
59392,RD_F_J_20230227,2023-02-27,468.0,452440.0,211741920.0,0.579190,1.721457,-0.834058,1.996996,-1.227423,...,4.488829,3.981627,-0.279901,-0.301983,-0.563791,-0.658181,0.494099,-0.765480,-2.944508,-0.834058
59393,RD_F_J_20230228,2023-02-28,531.0,421980.0,224071380.0,0.579190,1.721457,-0.834058,1.996996,-1.227423,...,4.488829,3.981627,-0.279901,-0.301983,-0.563791,-0.658181,0.494099,-0.765480,-2.944508,-0.834058
59394,RD_F_J_20230301,2023-03-01,574.0,382980.0,219830520.0,0.579190,1.721457,-0.834058,1.996996,-0.943325,...,4.465817,3.159434,-0.286120,-0.310576,-0.563792,-0.658181,0.491394,-0.765480,-2.944508,-0.834058
59395,RD_F_J_20230302,2023-03-02,523.0,477220.0,249586060.0,0.579190,1.721457,-0.834058,1.996996,-0.943325,...,4.465817,3.159434,-0.286120,-0.310576,-0.563792,-0.658181,0.491394,-0.765480,-2.944508,-0.834058
59396,RD_F_J_20230303,2023-03-03,529.0,427520.0,226158080.0,0.579190,1.721457,-0.834058,1.996996,-0.943325,...,4.465817,3.159434,-0.286120,-0.310576,-0.563792,-0.658181,0.491394,-0.765480,-2.944508,-0.834058

In [100]:
# target = train_df['price']
# target

In [101]:
train_df['item_id'] = train_df.ID.str[0:6]
train_df

,ID,timestamp,price,supply,total,item,corporation,location,year,month,...,month_std_total,out_weight,out_value,in_weight,in_value,tradebalance,item_mean_price,corp_mean_price,location_mean_price,item_id
0,TG_A_J_20190101,2019-01-01,0.0,0.0,0.0,1.243556,-1.386729,-0.834058,-1.333335,-1.511521,...,1.951004,-0.195368,0.058913,-0.563792,-0.658181,0.607684,1.657821,0.033826,-0.834058,TG_A_J
1,TG_A_J_20190102,2019-01-02,0.0,0.0,0.0,1.243556,-1.386729,-0.834058,-1.333335,-1.511521,...,1.951004,-0.195368,0.058913,-0.563792,-0.658181,0.607684,1.657821,0.033826,-0.834058,TG_A_J
2,TG_A_J_20190103,2019-01-03,1728.0,60601.0,104718528.0,1.243556,-1.386729,-0.834058,-1.333335,-1.511521,...,1.951004,-0.195368,0.058913,-0.563792,-0.658181,0.607684,1.657821,0.033826,-0.834058,TG_A_J
3,TG_A_J_20190104,2019-01-04,1408.0,25000.0,35200000.0,1.243556,-1.386729,-0.834058,-1.333335,-1.511521,...,1.951004,-0.195368,0.058913,-0.563792,-0.658181,0.607684,1.657821,0.033826,-0.834058,TG_A_J
4,TG_A_J_20190105,2019-01-05,1250.0,32352.0,40440000.0,1.243556,-1.386729,-0.834058,-1.333335,-1.511521,...,1.951004,-0.195368,0.058913,-0.563792,-0.658181,0.607684,1.657821,0.033826,-0.834058,TG_A_J
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
59392,RD_F_J_20230227,2023-02-27,468.0,452440.0,211741920.0,0.579190,1.721457,-0.834058,1.996996,-1.227423,...,3.981627,-0.279901,-0.301983,-0.563791,-0.658181,0.494099,-0.765480,-2.944508,-0.834058,RD_F_J
59393,RD_F_J_20230228,2023-02-28,531.0,421980.0,224071380.0,0.579190,1.721457,-0.834058,1.996996,-1.227423,...,3.981627,-0.279901,-0.301983,-0.563791,-0.658181,0.494099,-0.765480,-2.944508,-0.834058,RD_F_J
59394,RD_F_J_20230301,2023-03-01,574.0,382980.0,219830520.0,0.579190,1.721457,-0.834058,1.996996,-0.943325,...,3.159434,-0.286120,-0.310576,-0.563792,-0.658181,0.491394,-0.765480,-2.944508,-0.834058,RD_F_J
59395,RD_F_J_20230302,2023-03-02,523.0,477220.0,249586060.0,0.579190,1.721457,-0.834058,1.996996,-0.943325,...,3.159434,-0.286120,-0.310576,-0.563792,-0.658181,0.491394,-0.765480,-2.944508,-0.834058,RD_F_J
59396,RD_F_J_20230303,2023-03-03,529.0,427520.0,226158080.0,0.579190,1.721457,-0.834058,1.996996,-0.943325,...,3.159434,-0.286120,-0.310576,-0.563792,-0.658181,0.491394,-0.765480,-2.944508,-0.834058,RD_F_J

In [102]:
test_df['item_id'] = test_df.ID.str[0:6]
test_df

,ID,timestamp,item,corporation,location,year,month,week,day,day_of_week,...,month_std_total,out_weight,out_value,in_weight,in_value,tradebalance,item_mean_price,corp_mean_price,location_mean_price,item_id
0,TG_A_J_20230304,2023-03-04,1.243556,-1.386729,-0.834058,1.996996,-0.943325,-1.090374,-1.327237,1.001479,...,0.016789,-0.28612,-0.310576,-0.563792,-0.658181,0.491394,1.657821,0.033826,-0.834058,TG_A_J
1,TG_A_J_20230305,2023-03-05,1.243556,-1.386729,-0.834058,1.996996,-0.943325,-1.090374,-1.213657,1.501890,...,0.016789,-0.28612,-0.310576,-0.563792,-0.658181,0.491394,1.657821,0.033826,-0.834058,TG_A_J
2,TG_A_J_20230306,2023-03-06,1.243556,-1.386729,-0.834058,1.996996,-0.943325,-1.025363,-1.100077,-1.500576,...,0.016789,-0.28612,-0.310576,-0.563792,-0.658181,0.491394,1.657821,0.033826,-0.834058,TG_A_J
3,TG_A_J_20230307,2023-03-07,1.243556,-1.386729,-0.834058,1.996996,-0.943325,-1.025363,-0.986497,-1.000165,...,0.016789,-0.28612,-0.310576,-0.563792,-0.658181,0.491394,1.657821,0.033826,-0.834058,TG_A_J
4,TG_A_J_20230308,2023-03-08,1.243556,-1.386729,-0.834058,1.996996,-0.943325,-1.025363,-0.872917,-0.499754,...,0.016789,-0.28612,-0.310576,-0.563792,-0.658181,0.491394,1.657821,0.033826,-0.834058,TG_A_J
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1087,RD_F_J_20230327,2023-03-27,0.579190,1.721457,-0.834058,1.996996,-0.943325,-0.830330,1.285101,-1.500576,...,3.159434,-0.28612,-0.310576,-0.563792,-0.658181,0.491394,-0.765480,-2.944508,-0.834058,RD_F_J
1088,RD_F_J_20230328,2023-03-28,0.579190,1.721457,-0.834058,1.996996,-0.943325,-0.830330,1.398681,-1.000165,...,3.159434,-0.28612,-0.310576,-0.563792,-0.658181,0.491394,-0.765480,-2.944508,-0.834058,RD_F_J
1089,RD_F_J_20230329,2023-03-29,0.579190,1.721457,-0.834058,1.996996,-0.943325,-0.830330,1.512261,-0.499754,...,3.159434,-0.28612,-0.310576,-0.563792,-0.658181,0.491394,-0.765480,-2.944508,-0.834058,RD_F_J
1090,RD_F_J_20230330,2023-03-30,0.579190,1.721457,-0.834058,1.996996,-0.943325,-0.830330,1.625841,0.000657,...,3.159434,-0.28612,-0.310576,-0.563792,-0.658181,0.491394,-0.765480,-2.944508,-0.834058,RD_F_J
1091,RD_F_J_20230331,2023-03-31,0.579190,1.721457,-0.834058,1.996996,-0.943325,-0.830330,1.739421,0.501068,...,3.159434,-0.28612,-0.310576,-0.563792,-0.658181,0.491394,-0.765480,-2.944508,-0.834058,RD_F_J

In [103]:
train_dropcols = ['ID', 'supply']
test_dropcols = ['ID']

In [104]:
train_ft = train_df.drop(columns = train_dropcols)
test_ft = test_df.drop(columns = test_dropcols)

In [105]:
train_ft.shape, test_ft.shape

((59397, 38), (1092, 36))

In [109]:
!pip install autogluon

Collecting autogluon
  Obtaining dependency information for autogluon from https://files.pythonhosted.org/packages/2e/42/f26592ecf3dc4e4edcbc5f7f7e3deba25b0681fad2ad04a82d12af17e3a4/autogluon-0.8.2-py3-none-any.whl.metadata
  Downloading autogluon-0.8.2-py3-none-any.whl.metadata (11 kB)
Collecting autogluon.core[all]==0.8.2 (from autogluon)
  Obtaining dependency information for autogluon.core[all]==0.8.2 from https://files.pythonhosted.org/packages/e0/56/545adb1d388e78591cd7e36de0c8b889c1944de362bdaeec0f31d01890df/autogluon.core-0.8.2-py3-none-any.whl.metadata
  Downloading autogluon.core-0.8.2-py3-none-any.whl.metadata (12 kB)
Collecting autogluon.features==0.8.2 (from autogluon)
  Obtaining dependency information for autogluon.features==0.8.2 from https://files.pythonhosted.org/packages/bb/ea/7892719f78a30aee1bf42c4a0540fbae98bfbdf56b85fab79ffc437eb687/autogluon.features-0.8.2-py3-none-any.whl.metadata
  Downloading autogluon.features-0.8.2-py3-none-any.whl.metadata (11 kB)
Collecting autogluon.tabular[all]==0.8.2 (from autogluon)
  Obtaining dependency information for autogluon.tabular[all]==0.8.2 from https://files.pythonhosted.org/packages/f3/dc/0bd8cadb9a5e2f3e5b12caaa6745357d912ffc7b8b75fb4e426a38331028/autogluon.tabular-0.8.2-py3-none-any.whl.metadata
  Downloading autogluon.tabular-0.8.2-py3-none-any.whl.metadata (13 kB)
Collecting autogluon.multimodal==0.8.2 (from autogluon)
  Obtaining dependency information for autogluon.multimodal==0.8.2 from https://files.pythonhosted.org/packages/f4/df/a3921edb866555154d5a53adbcd2268fd3b53071820b6382f2619ad439f3/autogluon.multimodal-0.8.2-py3-none-any.whl.metadata
  Downloading autogluon.multimodal-0.8.2-py3-none-any.whl.metadata (13 kB)
Collecting autogluon.timeseries[all]==0.8.2 (from autogluon)
  Obtaining dependency information for autogluon.timeseries[all]==0.8.2 from https://files.pythonhosted.org/packages/50/38/1768d30684292d064dad4457355d6928581c5b832a3f65a6a023df2ff4ff/autogluon.timeseries-0.8.2-py3-none-any.whl.metadata
  Downloading autogluon.timeseries-0.8.2-py3-none-any.whl.metadata (12 kB)
Requirement already satisfied: numpy<1.27,>=1.21 in /opt/conda/lib/python3.10/site-packages (from autogluon.core[all]==0.8.2->autogluon) (1.24.3)
Requirement already satisfied: scipy<1.12,>=1.5.4 in /opt/conda/lib/python3.10/site-packages (from autogluon.core[all]==0.8.2->autogluon) (1.11.3)
Requirement already satisfied: scikit-learn<1.3,>=1.0 in /opt/conda/lib/python3.10/site-packages (from autogluon.core[all]==0.8.2->autogluon) (1.2.2)
Requirement already satisfied: networkx<4,>=3.0 in /opt/conda/lib/python3.10/site-packages (from autogluon.core[all]==0.8.2->autogluon) (3.1)
Collecting pandas<1.6,>=1.4.1 (from autogluon.core[all]==0.8.2->autogluon)
  Downloading pandas-1.5.3-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (12.1 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 12.1/12.1 MB 57.9 MB/s eta 0:00:0000:0100:01
Requirement already satisfied: tqdm<5,>=4.38 in /opt/conda/lib/python3.10/site-packages (from autogluon.core[all]==0.8.2->autogluon) (4.66.1)
Requirement already satisfied: requests in /opt/conda/lib/python3.10/site-packages (from autogluon.core[all]==0.8.2->autogluon) (2.31.0)
Requirement already satisfied: matplotlib in /opt/conda/lib/python3.10/site-packages (from autogluon.core[all]==0.8.2->autogluon) (3.7.3)
Requirement already satisfied: boto3<2,>=1.10 in /opt/conda/lib/python3.10/site-packages (from autogluon.core[all]==0.8.2->autogluon) (1.26.100)
Collecting autogluon.common==0.8.2 (from autogluon.core[all]==0.8.2->autogluon)
  Obtaining dependency information for autogluon.common==0.8.2 from https://files.pythonhosted.org/packages/67/c7/aa2bd5708c9329a29245aa0cd955cace0662b92a82eb7605cf46b6e7e9d5/autogluon.common-0.8.2-py3-none-any.whl.metadata
  Downloading autogluon.common-0.8.2-py3-none-any.whl.metadata (11 kB)
Requirement already satisfied: hyperopt<0.2.8,>=0.2.7 in /opt/conda/lib/python3.10/site-packages (from autogluon.core[all]==0.8.2->autogluon) (0.2.7)
Collecting ray[default]<2.4,>=2.3 (from autogluon.core[all]==0.8.2->autogluon)
  Downloading ray-2.3.1-cp310-cp310-manylinux2014_x86_64.whl (58.5 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 58.5/58.5 MB 17.8 MB/s eta 0:00:0000:0100:01
Requirement already satisfied: pydantic<2.0,>=1.10.4 in /opt/conda/lib/python3.10/site-packages (from autogluon.core[all]==0.8.2->autogluon) (1.10.12)
Collecting grpcio<=1.50.0,>=1.42.0 (from autogluon.core[all]==0.8.2->autogluon)
  Downloading grpcio-1.50.0-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (4.7 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 4.7/4.7 MB 63.9 MB/s eta 0:00:00:00:0100:01
Collecting Pillow<9.6,>=9.3 (from autogluon.multimodal==0.8.2->autogluon)
  Downloading Pillow-9.5.0-cp310-cp310-manylinux_2_28_x86_64.whl (3.4 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 3.4/3.4 MB 74.6 MB/s eta 0:00:00:00:01
Collecting jsonschema<4.18,>=4.14 (from autogluon.multimodal==0.8.2->autogluon)
  Downloading jsonschema-4.17.3-py3-none-any.whl (90 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 90.4/90.4 kB 7.8 MB/s eta 0:00:00
Collecting seqeval<1.3.0,>=1.2.2 (from autogluon.multimodal==0.8.2->autogluon)
  Downloading seqeval-1.2.2.tar.gz (43 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 43.6/43.6 kB 3.6 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
Collecting evaluate<0.4.0,>=0.2.2 (from autogluon.multimodal==0.8.2->autogluon)
  Downloading evaluate-0.3.0-py3-none-any.whl (72 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 72.9/72.9 kB 6.1 MB/s eta 0:00:00
Collecting accelerate<0.17,>=0.9 (from autogluon.multimodal==0.8.2->autogluon)
  Downloading accelerate-0.16.0-py3-none-any.whl (199 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 199.7/199.7 kB 16.9 MB/s eta 0:00:00
Requirement already satisfied: timm<0.10.0,>=0.9.2 in /opt/conda/lib/python3.10/site-packages (from autogluon.multimodal==0.8.2->autogluon) (0.9.10)
Collecting torch<1.14,>=1.9 (from autogluon.multimodal==0.8.2->autogluon)
  Downloading torch-1.13.1-cp310-cp310-manylinux1_x86_64.whl (887.5 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 887.5/887.5 MB 1.2 MB/s eta 0:00:0000:0100:01
Collecting torchvision<0.15.0 (from autogluon.multimodal==0.8.2->autogluon)
  Downloading torchvision-0.14.1-cp310-cp310-manylinux1_x86_64.whl (24.2 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 24.2/24.2 MB 46.1 MB/s eta 0:00:0000:0100:01
Collecting scikit-image<0.20.0,>=0.19.1 (from autogluon.multimodal==0.8.2->autogluon)
  Downloading scikit_image-0.19.3-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (13.9 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 13.9/13.9 MB 58.2 MB/s eta 0:00:0000:0100:01
Collecting pytorch-lightning<1.10.0,>=1.9.0 (from autogluon.multimodal==0.8.2->autogluon)
  Downloading pytorch_lightning-1.9.5-py3-none-any.whl (829 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 829.5/829.5 kB 42.6 MB/s eta 0:00:00
Requirement already satisfied: text-unidecode<1.4,>=1.3 in /opt/conda/lib/python3.10/site-packages (from autogluon.multimodal==0.8.2->autogluon) (1.3)
Collecting torchmetrics<0.12.0,>=0.11.0 (from autogluon.multimodal==0.8.2->autogluon)
  Downloading torchmetrics-0.11.4-py3-none-any.whl (519 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 519.2/519.2 kB 33.6 MB/s eta 0:00:00
Collecting transformers[sentencepiece]<4.27.0,>=4.23.0 (from autogluon.multimodal==0.8.2->autogluon)
  Downloading transformers-4.26.1-py3-none-any.whl (6.3 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 6.3/6.3 MB 75.6 MB/s eta 0:00:00:00:0100:01
Collecting nptyping<2.5.0,>=1.4.4 (from autogluon.multimodal==0.8.2->autogluon)
  Downloading nptyping-2.4.1-py3-none-any.whl (36 kB)
Collecting omegaconf<2.3.0,>=2.1.1 (from autogluon.multimodal==0.8.2->autogluon)
  Downloading omegaconf-2.2.3-py3-none-any.whl (79 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 79.3/79.3 kB 6.1 MB/s eta 0:00:00
Collecting pytorch-metric-learning<2.0,>=1.3.0 (from autogluon.multimodal==0.8.2->autogluon)
  Downloading pytorch_metric_learning-1.7.3-py3-none-any.whl (112 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 112.2/112.2 kB 9.4 MB/s eta 0:00:00
Collecting nlpaug<1.2.0,>=1.1.10 (from autogluon.multimodal==0.8.2->autogluon)
  Downloading nlpaug-1.1.11-py3-none-any.whl (410 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 410.5/410.5 kB 27.7 MB/s eta 0:00:00
Collecting nltk<4.0.0,>=3.4.5 (from autogluon.multimodal==0.8.2->autogluon)
  Downloading nltk-3.8.1-py3-none-any.whl (1.5 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 1.5/1.5 MB 58.9 MB/s eta 0:00:00
Collecting openmim<0.4.0,>=0.3.7 (from autogluon.multimodal==0.8.2->autogluon)
  Obtaining dependency information for openmim<0.4.0,>=0.3.7 from https://files.pythonhosted.org/packages/00/b3/95531cee452028869d0e08974561f83e9c256c98f62c7a45a51893a61c54/openmim-0.3.9-py2.py3-none-any.whl.metadata
  Downloading openmim-0.3.9-py2.py3-none-any.whl.metadata (16 kB)
Requirement already satisfied: defusedxml<0.7.2,>=0.7.1 in /opt/conda/lib/python3.10/site-packages (from autogluon.multimodal==0.8.2->autogluon) (0.7.1)
Requirement already satisfied: jinja2<3.2,>=3.0.3 in /opt/conda/lib/python3.10/site-packages (from autogluon.multimodal==0.8.2->autogluon) (3.1.2)
Requirement already satisfied: tensorboard<3,>=2.9 in /opt/conda/lib/python3.10/site-packages (from autogluon.multimodal==0.8.2->autogluon) (2.13.0)
Requirement already satisfied: pytesseract<0.3.11,>=0.3.9 in /opt/conda/lib/python3.10/site-packages (from autogluon.multimodal==0.8.2->autogluon) (0.3.10)
Requirement already satisfied: lightgbm<3.4,>=3.3 in /opt/conda/lib/python3.10/site-packages (from autogluon.tabular[all]==0.8.2->autogluon) (3.3.2)
Collecting xgboost<1.8,>=1.6 (from autogluon.tabular[all]==0.8.2->autogluon)
  Obtaining dependency information for xgboost<1.8,>=1.6 from https://files.pythonhosted.org/packages/8c/3a/c9c5d4d5c49b132ef15ac7b5ccf56ef1c82efe36cd19414771762e97c00e/xgboost-1.7.6-py3-none-manylinux2014_x86_64.whl.metadata
  Downloading xgboost-1.7.6-py3-none-manylinux2014_x86_64.whl.metadata (1.9 kB)
Requirement already satisfied: fastai<2.8,>=2.3.1 in /opt/conda/lib/python3.10/site-packages (from autogluon.tabular[all]==0.8.2->autogluon) (2.7.13)
Requirement already satisfied: catboost<1.3,>=1.1 in /opt/conda/lib/python3.10/site-packages (from autogluon.tabular[all]==0.8.2->autogluon) (1.2.2)
Requirement already satisfied: joblib<2,>=1.1 in /opt/conda/lib/python3.10/site-packages (from autogluon.timeseries[all]==0.8.2->autogluon) (1.3.2)
Requirement already satisfied: statsmodels<0.15,>=0.13.0 in /opt/conda/lib/python3.10/site-packages (from autogluon.timeseries[all]==0.8.2->autogluon) (0.14.0)
Collecting gluonts<0.14,>=0.13.1 (from autogluon.timeseries[all]==0.8.2->autogluon)
  Obtaining dependency information for gluonts<0.14,>=0.13.1 from https://files.pythonhosted.org/packages/c9/da/2998c429adea79183f3e41bda4f3c44fc25404516c3da3a25da8c0bdf325/gluonts-0.13.8-py3-none-any.whl.metadata
  Downloading gluonts-0.13.8-py3-none-any.whl.metadata (9.4 kB)
Collecting statsforecast<1.5,>=1.4.0 (from autogluon.timeseries[all]==0.8.2->autogluon)
  Downloading statsforecast-1.4.0-py3-none-any.whl (91 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 92.0/92.0 kB 7.6 MB/s eta 0:00:00
Collecting mlforecast<0.7.4,>=0.7.0 (from autogluon.timeseries[all]==0.8.2->autogluon)
  Obtaining dependency information for mlforecast<0.7.4,>=0.7.0 from https://files.pythonhosted.org/packages/83/f0/fe8f0da0626fef11f7adf1c013ca185d00cd1bb967f39253bffc6a036c26/mlforecast-0.7.3-py3-none-any.whl.metadata
  Downloading mlforecast-0.7.3-py3-none-any.whl.metadata (13 kB)
Requirement already satisfied: ujson<6,>=5 in /opt/conda/lib/python3.10/site-packages (from autogluon.timeseries[all]==0.8.2->autogluon) (5.8.0)
Requirement already satisfied: psutil<6,>=5.7.3 in /opt/conda/lib/python3.10/site-packages (from autogluon.common==0.8.2->autogluon.core[all]==0.8.2->autogluon) (5.9.3)
Requirement already satisfied: setuptools in /opt/conda/lib/python3.10/site-packages (from autogluon.common==0.8.2->autogluon.core[all]==0.8.2->autogluon) (68.1.2)
Requirement already satisfied: packaging>=20.0 in /opt/conda/lib/python3.10/site-packages (from accelerate<0.17,>=0.9->autogluon.multimodal==0.8.2->autogluon) (21.3)
Requirement already satisfied: pyyaml in /opt/conda/lib/python3.10/site-packages (from accelerate<0.17,>=0.9->autogluon.multimodal==0.8.2->autogluon) (6.0.1)
Collecting botocore<1.30.0,>=1.29.100 (from boto3<2,>=1.10->autogluon.core[all]==0.8.2->autogluon)
  Obtaining dependency information for botocore<1.30.0,>=1.29.100 from https://files.pythonhosted.org/packages/46/20/e7a9a8e6746872afcc4e3ad5ab503702c38813b3a532df27cce95c98b8cb/botocore-1.29.165-py3-none-any.whl.metadata
  Downloading botocore-1.29.165-py3-none-any.whl.metadata (5.9 kB)
Requirement already satisfied: jmespath<2.0.0,>=0.7.1 in /opt/conda/lib/python3.10/site-packages (from boto3<2,>=1.10->autogluon.core[all]==0.8.2->autogluon) (1.0.1)
Requirement already satisfied: s3transfer<0.7.0,>=0.6.0 in /opt/conda/lib/python3.10/site-packages (from boto3<2,>=1.10->autogluon.core[all]==0.8.2->autogluon) (0.6.2)
Requirement already satisfied: graphviz in /opt/conda/lib/python3.10/site-packages (from catboost<1.3,>=1.1->autogluon.tabular[all]==0.8.2->autogluon) (0.20.1)
Requirement already satisfied: plotly in /opt/conda/lib/python3.10/site-packages (from catboost<1.3,>=1.1->autogluon.tabular[all]==0.8.2->autogluon) (5.16.1)
Requirement already satisfied: six in /opt/conda/lib/python3.10/site-packages (from catboost<1.3,>=1.1->autogluon.tabular[all]==0.8.2->autogluon) (1.16.0)
Requirement already satisfied: datasets>=2.0.0 in /opt/conda/lib/python3.10/site-packages (from evaluate<0.4.0,>=0.2.2->autogluon.multimodal==0.8.2->autogluon) (2.1.0)
Requirement already satisfied: dill in /opt/conda/lib/python3.10/site-packages (from evaluate<0.4.0,>=0.2.2->autogluon.multimodal==0.8.2->autogluon) (0.3.7)
Requirement already satisfied: xxhash in /opt/conda/lib/python3.10/site-packages (from evaluate<0.4.0,>=0.2.2->autogluon.multimodal==0.8.2->autogluon) (3.4.1)
Requirement already satisfied: multiprocess in /opt/conda/lib/python3.10/site-packages (from evaluate<0.4.0,>=0.2.2->autogluon.multimodal==0.8.2->autogluon) (0.70.15)
Requirement already satisfied: fsspec[http]>=2021.05.0 in /opt/conda/lib/python3.10/site-packages (from evaluate<0.4.0,>=0.2.2->autogluon.multimodal==0.8.2->autogluon) (2023.10.0)
Requirement already satisfied: huggingface-hub>=0.7.0 in /opt/conda/lib/python3.10/site-packages (from evaluate<0.4.0,>=0.2.2->autogluon.multimodal==0.8.2->autogluon) (0.17.3)
Requirement already satisfied: responses<0.19 in /opt/conda/lib/python3.10/site-packages (from evaluate<0.4.0,>=0.2.2->autogluon.multimodal==0.8.2->autogluon) (0.18.0)
Requirement already satisfied: pip in /opt/conda/lib/python3.10/site-packages (from fastai<2.8,>=2.3.1->autogluon.tabular[all]==0.8.2->autogluon) (23.2.1)
Requirement already satisfied: fastdownload<2,>=0.0.5 in /opt/conda/lib/python3.10/site-packages (from fastai<2.8,>=2.3.1->autogluon.tabular[all]==0.8.2->autogluon) (0.0.7)
Requirement already satisfied: fastcore<1.6,>=1.5.29 in /opt/conda/lib/python3.10/site-packages (from fastai<2.8,>=2.3.1->autogluon.tabular[all]==0.8.2->autogluon) (1.5.29)
Requirement already satisfied: fastprogress>=0.2.4 in /opt/conda/lib/python3.10/site-packages (from fastai<2.8,>=2.3.1->autogluon.tabular[all]==0.8.2->autogluon) (1.0.3)
Requirement already satisfied: spacy<4 in /opt/conda/lib/python3.10/site-packages (from fastai<2.8,>=2.3.1->autogluon.tabular[all]==0.8.2->autogluon) (3.7.2)
Requirement already satisfied: toolz~=0.10 in /opt/conda/lib/python3.10/site-packages (from gluonts<0.14,>=0.13.1->autogluon.timeseries[all]==0.8.2->autogluon) (0.12.0)
Requirement already satisfied: typing-extensions~=4.0 in /opt/conda/lib/python3.10/site-packages (from gluonts<0.14,>=0.13.1->autogluon.timeseries[all]==0.8.2->autogluon) (4.5.0)
Requirement already satisfied: future in /opt/conda/lib/python3.10/site-packages (from hyperopt<0.2.8,>=0.2.7->autogluon.core[all]==0.8.2->autogluon) (0.18.3)
Requirement already satisfied: cloudpickle in /opt/conda/lib/python3.10/site-packages (from hyperopt<0.2.8,>=0.2.7->autogluon.core[all]==0.8.2->autogluon) (2.2.1)
Requirement already satisfied: py4j in /opt/conda/lib/python3.10/site-packages (from hyperopt<0.2.8,>=0.2.7->autogluon.core[all]==0.8.2->autogluon) (0.10.9.7)
Requirement already satisfied: MarkupSafe>=2.0 in /opt/conda/lib/python3.10/site-packages (from jinja2<3.2,>=3.0.3->autogluon.multimodal==0.8.2->autogluon) (2.1.3)
Requirement already satisfied: attrs>=17.4.0 in /opt/conda/lib/python3.10/site-packages (from jsonschema<4.18,>=4.14->autogluon.multimodal==0.8.2->autogluon) (23.1.0)
Collecting pyrsistent!=0.17.0,!=0.17.1,!=0.17.2,>=0.14.0 (from jsonschema<4.18,>=4.14->autogluon.multimodal==0.8.2->autogluon)
  Obtaining dependency information for pyrsistent!=0.17.0,!=0.17.1,!=0.17.2,>=0.14.0 from https://files.pythonhosted.org/packages/d7/b7/64a125c488243965b7c5118352e47c6f89df95b4ac306d31cee409153d57/pyrsistent-0.20.0-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl.metadata
  Downloading pyrsistent-0.20.0-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl.metadata (27 kB)
Requirement already satisfied: wheel in /opt/conda/lib/python3.10/site-packages (from lightgbm<3.4,>=3.3->autogluon.tabular[all]==0.8.2->autogluon) (0.41.2)
Requirement already satisfied: numba in /opt/conda/lib/python3.10/site-packages (from mlforecast<0.7.4,>=0.7.0->autogluon.timeseries[all]==0.8.2->autogluon) (0.57.1)
Collecting window-ops (from mlforecast<0.7.4,>=0.7.0->autogluon.timeseries[all]==0.8.2->autogluon)
  Downloading window_ops-0.0.14-py3-none-any.whl (14 kB)
Collecting gdown>=4.0.0 (from nlpaug<1.2.0,>=1.1.10->autogluon.multimodal==0.8.2->autogluon)
  Downloading gdown-4.7.1-py3-none-any.whl (15 kB)
Requirement already satisfied: click in /opt/conda/lib/python3.10/site-packages (from nltk<4.0.0,>=3.4.5->autogluon.multimodal==0.8.2->autogluon) (8.1.7)
Requirement already satisfied: regex>=2021.8.3 in /opt/conda/lib/python3.10/site-packages (from nltk<4.0.0,>=3.4.5->autogluon.multimodal==0.8.2->autogluon) (2023.8.8)
Collecting antlr4-python3-runtime==4.9.* (from omegaconf<2.3.0,>=2.1.1->autogluon.multimodal==0.8.2->autogluon)
  Downloading antlr4-python3-runtime-4.9.3.tar.gz (117 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 117.0/117.0 kB 9.6 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
Requirement already satisfied: colorama in /opt/conda/lib/python3.10/site-packages (from openmim<0.4.0,>=0.3.7->autogluon.multimodal==0.8.2->autogluon) (0.4.6)
Collecting model-index (from openmim<0.4.0,>=0.3.7->autogluon.multimodal==0.8.2->autogluon)
  Downloading model_index-0.1.11-py3-none-any.whl (34 kB)
Collecting opendatalab (from openmim<0.4.0,>=0.3.7->autogluon.multimodal==0.8.2->autogluon)
  Obtaining dependency information for opendatalab from https://files.pythonhosted.org/packages/10/82/28fa3a91b7c4852fbad9ad32c7b49e4b1e212ab7ccf7296736da0935070d/opendatalab-0.0.10-py3-none-any.whl.metadata
  Downloading opendatalab-0.0.10-py3-none-any.whl.metadata (6.4 kB)
Requirement already satisfied: rich in /opt/conda/lib/python3.10/site-packages (from openmim<0.4.0,>=0.3.7->autogluon.multimodal==0.8.2->autogluon) (13.5.2)
Requirement already satisfied: tabulate in /opt/conda/lib/python3.10/site-packages (from openmim<0.4.0,>=0.3.7->autogluon.multimodal==0.8.2->autogluon) (0.9.0)
Requirement already satisfied: python-dateutil>=2.8.1 in /opt/conda/lib/python3.10/site-packages (from pandas<1.6,>=1.4.1->autogluon.core[all]==0.8.2->autogluon) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /opt/conda/lib/python3.10/site-packages (from pandas<1.6,>=1.4.1->autogluon.core[all]==0.8.2->autogluon) (2023.3)

In [107]:
train_df

,ID,timestamp,price,supply,total,item,corporation,location,year,month,...,month_std_total,out_weight,out_value,in_weight,in_value,tradebalance,item_mean_price,corp_mean_price,location_mean_price,item_id
0,TG_A_J_20190101,2019-01-01,0.0,0.0,0.0,1.243556,-1.386729,-0.834058,-1.333335,-1.511521,...,1.951004,-0.195368,0.058913,-0.563792,-0.658181,0.607684,1.657821,0.033826,-0.834058,TG_A_J
1,TG_A_J_20190102,2019-01-02,0.0,0.0,0.0,1.243556,-1.386729,-0.834058,-1.333335,-1.511521,...,1.951004,-0.195368,0.058913,-0.563792,-0.658181,0.607684,1.657821,0.033826,-0.834058,TG_A_J
2,TG_A_J_20190103,2019-01-03,1728.0,60601.0,104718528.0,1.243556,-1.386729,-0.834058,-1.333335,-1.511521,...,1.951004,-0.195368,0.058913,-0.563792,-0.658181,0.607684,1.657821,0.033826,-0.834058,TG_A_J
3,TG_A_J_20190104,2019-01-04,1408.0,25000.0,35200000.0,1.243556,-1.386729,-0.834058,-1.333335,-1.511521,...,1.951004,-0.195368,0.058913,-0.563792,-0.658181,0.607684,1.657821,0.033826,-0.834058,TG_A_J
4,TG_A_J_20190105,2019-01-05,1250.0,32352.0,40440000.0,1.243556,-1.386729,-0.834058,-1.333335,-1.511521,...,1.951004,-0.195368,0.058913,-0.563792,-0.658181,0.607684,1.657821,0.033826,-0.834058,TG_A_J
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
59392,RD_F_J_20230227,2023-02-27,468.0,452440.0,211741920.0,0.579190,1.721457,-0.834058,1.996996,-1.227423,...,3.981627,-0.279901,-0.301983,-0.563791,-0.658181,0.494099,-0.765480,-2.944508,-0.834058,RD_F_J
59393,RD_F_J_20230228,2023-02-28,531.0,421980.0,224071380.0,0.579190,1.721457,-0.834058,1.996996,-1.227423,...,3.981627,-0.279901,-0.301983,-0.563791,-0.658181,0.494099,-0.765480,-2.944508,-0.834058,RD_F_J
59394,RD_F_J_20230301,2023-03-01,574.0,382980.0,219830520.0,0.579190,1.721457,-0.834058,1.996996,-0.943325,...,3.159434,-0.286120,-0.310576,-0.563792,-0.658181,0.491394,-0.765480,-2.944508,-0.834058,RD_F_J
59395,RD_F_J_20230302,2023-03-02,523.0,477220.0,249586060.0,0.579190,1.721457,-0.834058,1.996996,-0.943325,...,3.159434,-0.286120,-0.310576,-0.563792,-0.658181,0.491394,-0.765480,-2.944508,-0.834058,RD_F_J
59396,RD_F_J_20230303,2023-03-03,529.0,427520.0,226158080.0,0.579190,1.721457,-0.834058,1.996996,-0.943325,...,3.159434,-0.286120,-0.310576,-0.563792,-0.658181,0.491394,-0.765480,-2.944508,-0.834058,RD_F_J

In [122]:
from autogluon.timeseries import TimeSeriesDataFrame, TimeSeriesPredictor

data = TimeSeriesDataFrame(train_ft)
predictor = TimeSeriesPredictor(
    prediction_length=28,
    target="price",
    eval_metric="RMSE"
)
# seed 고정
predictor.fit(data, random_seed=SEED,time_limit=360)

# predictor.fit(data, random_seed=SEED, presets="best_quality", time_limit=3600*3.5, hyperparameter_tune_kwargs={'num_trials': 20,
#                                 'scheduler': 'local',
#                                 'searcher': 'auto'})

No path specified. Models will be saved in: "AutogluonModels/ag-20231119_000530/"
================ TimeSeriesPredictor ================
TimeSeriesPredictor.fit() called
Fitting with arguments:
{'enable_ensemble': True,
 'evaluation_metric': 'RMSE',
 'excluded_model_types': None,
 'hyperparameter_tune_kwargs': None,
 'hyperparameters': 'default',
 'num_val_windows': 1,
 'prediction_length': 28,
 'random_seed': 42,
 'target': 'price',
 'time_limit': 360,
 'verbosity': 2}
Provided training data set with 59397 rows, 39 items (item = single time series). Average time series length is 1523.0. Data frequency is 'D'.
=====================================================
AutoGluon will save models to AutogluonModels/ag-20231119_000530/
AutoGluon will gauge predictive performance using evaluation metric: 'RMSE'
	This metric's sign has been flipped to adhere to being 'higher is better'. The reported score can be multiplied by -1 to get the metric value.

Provided dataset contains following columns:
	target:           'price'
	past covariates:  ['total', 'item', 'corporation', 'location', 'year', 'month', 'week', 'day', 'day_of_week', 'day_of_year', 'sin_dayofweek', 'cos_dayofweek', 'month_week_mean', 'month_week_max', 'month_week_std', 'month_mean', 'month_max', 'month_std', 'last_month_mean', 'month_mean_supply', 'month_std_supply', 'month_week_mean_supply', 'month_week_std_supply', 'month_week_mean_total', 'month_week_std_total', 'month_mean_total', 'month_std_total', 'out_weight', 'out_value', 'in_weight', 'in_value', 'tradebalance', 'item_mean_price', 'corp_mean_price', 'location_mean_price']

Starting training. Start time is 2023-11-19 00:05:30
Models that will be trained: ['Naive', 'SeasonalNaive', 'Theta', 'AutoETS', 'RecursiveTabular', 'DeepAR']
Training timeseries model Naive. Training for up to 359.88s of the 359.88s of remaining time.
	-997.0634     = Validation score (-RMSE)
	0.12    s     = Training runtime
	11.97   s     = Validation (prediction) runtime
Training timeseries model SeasonalNaive. Training for up to 347.79s of the 347.79s of remaining time.
	-843.9258     = Validation score (-RMSE)
	0.12    s     = Training runtime
	0.22    s     = Validation (prediction) runtime
Training timeseries model Theta. Training for up to 347.44s of the 347.44s of remaining time.
	-838.8347     = Validation score (-RMSE)
	0.11    s     = Training runtime
	59.46   s     = Validation (prediction) runtime
Training timeseries model AutoETS. Training for up to 287.86s of the 287.86s of remaining time.
	-797.0592     = Validation score (-RMSE)
	0.11    s     = Training runtime
	33.20   s     = Validation (prediction) runtime
Training timeseries model RecursiveTabular. Training for up to 254.53s of the 254.53s of remaining time.
	-810.2125     = Validation score (-RMSE)
	10.36   s     = Training runtime
	2.11    s     = Validation (prediction) runtime
Training timeseries model DeepAR. Training for up to 242.05s of the 242.05s of remaining time.
	-771.3903     = Validation score (-RMSE)
	242.52  s     = Training runtime
	1.73    s     = Validation (prediction) runtime
Not fitting ensemble due to lack of time remaining. Time left: -2.22 seconds
Training complete. Models trained: ['Naive', 'SeasonalNaive', 'Theta', 'AutoETS', 'RecursiveTabular', 'DeepAR']
Total runtime: 362.15 s
Best model: DeepAR
Best model score: -771.3903

In [123]:
predictor.get_model_names()

['Naive', 'SeasonalNaive', 'Theta', 'AutoETS', 'RecursiveTabular', 'DeepAR']

In [124]:
predictor.refit_full()

	WARNING: refit_full functionality for TimeSeriesPredictor is experimental and is not yet supported by all models.
Refitting models via `refit_full` using all of the data (combined train and validation)...
	Models trained in this way will have the suffix '_FULL' and have NaN validation score.
	This process is not bound by time_limit, but should take less time than the original `fit` call.
Fitting model: Naive_FULL | Skipping fit via cloning parent ...
Fitting model: SeasonalNaive_FULL | Skipping fit via cloning parent ...
Fitting model: Theta_FULL | Skipping fit via cloning parent ...
Fitting model: AutoETS_FULL | Skipping fit via cloning parent ...
Fitting model: RecursiveTabular_FULL
	4.78    s     = Training runtime
Fitting model: DeepAR_FULL | Skipping fit via cloning parent ...
Refit complete. Models trained: ['Naive_FULL', 'SeasonalNaive_FULL', 'Theta_FULL', 'AutoETS_FULL', 'RecursiveTabular_FULL', 'DeepAR_FULL']
Total runtime: 4.85 s
Updated best model to 'DeepAR_FULL' (Previously 'DeepAR'). AutoGluon will default to using 'DeepAR_FULL' for predict().

{'Naive': 'Naive_FULL',
 'SeasonalNaive': 'SeasonalNaive_FULL',
 'Theta': 'Theta_FULL',
 'AutoETS': 'AutoETS_FULL',
 'RecursiveTabular': 'RecursiveTabular_FULL',
 'DeepAR': 'DeepAR_FULL'}

In [125]:
predictor.get_model_names()

['Naive',
 'SeasonalNaive',
 'Theta',
 'AutoETS',
 'RecursiveTabular',
 'DeepAR',
 'Naive_FULL',
 'SeasonalNaive_FULL',
 'Theta_FULL',
 'AutoETS_FULL',
 'RecursiveTabular_FULL',
 'DeepAR_FULL']

In [128]:

# pred = predictor.predict(data, random_seed=SEED, model='WeightedEnsemble_FULL')
pred = predictor.predict(data, random_seed=SEED)

pred

Model not specified in predict, will default to the model with the best validation score: DeepAR_FULL

                           mean          0.1          0.2          0.3  \
item_id timestamp
TG_A_J  2023-03-04  3158.354492  2457.589600  2749.410400  2906.588135
        2023-03-05   552.901306 -1044.264648  -361.547241    84.601692
        2023-03-06  2804.340332  1825.613770  2129.469238  2460.716797
        2023-03-07  3141.372070  2102.109375  2602.438965  2808.044434
        2023-03-08  3115.955322  2126.136963  2559.914062  2745.727539
...                         ...          ...          ...          ...
RD_F_J  2023-03-27   445.815216    96.171524   299.729553   373.518097
        2023-03-28   476.146942     2.532503   313.093506   413.827271
        2023-03-29   473.879364    47.407932   309.142212   391.094238
        2023-03-30   466.854675     0.754468   312.688568   395.175934
        2023-03-31   475.841980     2.134777   252.715195   397.605896

                            0.4          0.5          0.6          0.7  \
item_id timestamp
TG_A_J  2023-03-04  3017.507568  3123.538818  3233.651367  3318.006836
        2023-03-05   260.819336   464.983276   683.585571   926.292603
        2023-03-06  2660.322510  2833.210938  2983.280518  3143.195801
        2023-03-07  3011.147949  3139.885986  3295.202881  3446.919434
        2023-03-08  2994.552002  3165.768311  3331.591309  3531.672119
...                         ...          ...          ...          ...
RD_F_J  2023-03-27   424.745453   463.745331   502.209076   544.475830
        2023-03-28   456.794464   505.523376   542.215637   586.616638
        2023-03-29   472.082153   514.472839   546.986206   591.439026
        2023-03-30   462.922211   517.649597   553.997192   614.731567
        2023-03-31   470.466309   510.576141   557.562439   590.950745

                            0.8          0.9
item_id timestamp
TG_A_J  2023-03-04  3456.817383  3770.308105
        2023-03-05  1251.277344  2074.552734
        2023-03-06  3417.653809  3900.004883
        2023-03-07  3719.863281  4134.094727
        2023-03-08  3691.230469  4012.159180
...                         ...          ...
RD_F_J  2023-03-27   598.599548   703.089539
        2023-03-28   647.088623   737.806091
        2023-03-29   644.009094   736.869873
        2023-03-30   663.090698   745.009216
        2023-03-31   629.243774   737.473083

[1092 rows x 10 columns]

In [ ]:
pred.to_csv('pred_best_standard_scaler.csv', index=False)

In [ ]:
# submission = pd.read_csv(f'{DATA_PATH}sample_submission.csv')
# submission['answer'] = pred.reset_index()['mean']
# submission.loc[ submission['answer'] < 0.0, 'answer'] = 0.0
# submission

In [ ]:
# submission.to_csv(f"{DATA_PATH}submission_autogluon_ver2.csv", index=False)